<div class="govuk-summary-card" data-qa="additional-needs-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Additional needs</h2>
    <ul class="govuk-summary-card__actions govuk-!-display-none-print">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-!-font-weight-regular" href="#" data-qa="add-additional-need-button">Add need</a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
      <p class="govuk-body">
        No additional needs recorded
      </p>
  </div>
</div>
