<div class="govuk-summary-card" data-qa="challenges-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Challenges</h2>
    <ul class="govuk-summary-card__actions govuk-!-display-none-print">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-!-font-weight-regular" href="#" data-qa="add-strength-button">Add challenges</a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <p class="govuk-body">
      No challenges recorded
    </p>
  </div>
</div>
