{% from "./components/aln-assessments-details/macro.njk" import alnAssessmentsDetails %}
{% from "./components/ldd-assessments-details/macro.njk" import lddAssessmentsDetails %}

{% if curiousAlnAndLddAssessments.isFulfilled() %}
  {% set lddAssessments = curiousAlnAndLddAssessments.value.lddAssessments %}
  {% set alnAssessments = curiousAlnAndLddAssessments.value.alnAssessments %}
{% endif %}

<div class="govuk-summary-card" data-qa="screening-and-assessment-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Screening and assessment</h2>
    <ul class="govuk-summary-card__actions govuk-!-display-none-print">
      {% if userHasPermissionTo('RECORD_ALN_SCREENER') %}
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-!-font-weight-regular" data-qa="record-screener-results-button" href="/aln-screener/{{ prisonerSummary.prisonNumber }}/create/screener-date">Record screener results</a>
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    {% if curiousAlnAndLddAssessments.isFulfilled() %}
      {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

      {# ALN Assessments are from Curious 2 #}
      {{ alnAssessmentsDetails({
        alnAssessments: alnAssessments,
        prisonerSummary: prisonerSummary,
        prisonNamesById: prisonNamesById,
        attributes: {
          "data-qa": "aln-assessments"
        }
      }) }}

      {# The LDD Assessments are the old historic assessments that a prisoner may have from Curious 1 #}
      {{ lddAssessmentsDetails({
        lddAssessments: lddAssessments,
        prisonerSummary: prisonerSummary,
        prisonNamesById: prisonNamesById,
        classes: "govuk-!-margin-top-4",
        attributes: {
          "data-qa": "ldd-assessments"
        }
      }) }}

    {% else %}
      <h3 class="govuk-heading-s" data-qa="curious-screeners-unavailable-message">We cannot show these details right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}
  </div>
</div>
