{% extends "../layout.njk" %}
{% from "../../../components/actions-card/macro.njk" import actionsCard %}

{% set pageId = 'profile-overview' %}
{% set pageTitle = "Support for additional needs" %}

{% block content %}
  <div class="govuk-grid-row profile-overview">
    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      <div class="two-column-summary-cards">
        {% include './_challengesSummaryCard.njk' %}
        {% include './_strengthsSummaryCard.njk' %}
      </div>
      {% include './_supportRecommendationsSummaryCard.njk' %}
      {% include './_conditionsSummaryCard.njk' %}
      {% include './_screeningAndAssessmentSummaryCard.njk' %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        prisonerSummary: prisonerSummary,
        userHasPermissionTo: userHasPermissionTo,
        educationSupportPlanCreationSchedule: educationSupportPlanCreationSchedule.value if educationSupportPlanCreationSchedule.isFulfilled()
      }) }}
    </div>
  </div>
{% endblock %}
