{% extends "../../layout.njk" %}
{% from "../../../../components/strengths-summary-card/macro.njk" import strengthsSummaryCard %}

{% set pageId = 'education-support-plan-review-existing-strengths' %}
{% set pageTitle = "Create an education support plan - Review strengths" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ prisonerSummary | formatFirst_name_Last_name }}'s strengths</h1>

      {% if groupedStrengths.isFulfilled() %}
        {% set groupedStrengths = groupedStrengths.value %}

        {% if groupedStrengths | length %}

          {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
          {% for strengthCategory, strengthsData in groupedStrengths %}
            {{ strengthsSummaryCard({
              title: strengthCategory | formatStrengthCategoryScreenValue | default(strengthCategory, true),
              strengthsData: strengthsData,
              prisonNamesById: prisonNamesById,
              attributes: {
                'data-qa': 'strengths-summary-card_' + strengthCategory
              }
            }) }}
          {% endfor %}

        {% else %}

          <div class="govuk-summary-card" data-qa="no-strengths-summary-card">
            <div class="govuk-summary-card__content">
              <p class="govuk-body">
                No strengths recorded
              </p>
            </div>
          </div>

        {% endif %}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="strengths-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}



      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
