{% extends "../../layout.njk" %}

{% set pageId = 'conditions-details' %}
{% set pageTitle = "Add condition - Add details for condition" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if userHasPermissionTo('RECORD_DIAGNOSED_CONDITIONS') %}
          Select if the condition is self-declared by {{ prisonerSummary | formatFirst_name_Last_name }} or a confirmed diagnosis
        {% else %}
          Provide details for {{ prisonerSummary | formatFirst_name_Last_name }}'s self-declared conditions
        {% endif %}
      </h1>

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group" id="conditionsDetails">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% for condition in dto.conditions %}
            <section class="govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ condition.conditionTypeCode | formatConditionTypeScreenValue | default(condition.conditionTypeCode, true) }}</h2>
              {% if condition.conditionName %}
                <p class="govuk-body govuk-!-margin-bottom-2">{{ condition.conditionName }}</p>
              {% endif %}

              {% if userHasPermissionTo('RECORD_DIAGNOSED_CONDITIONS') %}
                {{ govukRadios({
                  name: "conditionDiagnosis[" + condition.conditionTypeCode + "]",
                  items: [
                    {
                      value: "SELF_DECLARED",
                      text: "Self-declared",
                      checked: form.conditionDiagnosis[condition.conditionTypeCode] === "SELF_DECLARED"
                    },
                    {
                      value: "CONFIRMED_DIAGNOSIS",
                      text: "Confirmed diagnosis",
                      checked: form.conditionDiagnosis[condition.conditionTypeCode] === "CONFIRMED_DIAGNOSIS"
                    }
                  ],
                  errorMessage: errors | findError("conditionDiagnosis[" + condition.conditionTypeCode + "]")
                }) }}
              {% endif %}

              {{ govukTextarea({
                id: condition.conditionTypeCode + "_details",
                name: "conditionDetails[" + condition.conditionTypeCode + "]",
                rows: "4",
                value: form.conditionDetails[condition.conditionTypeCode],
                type: "text",
                label: {
                  text: "Provide more detail",
                  classes: "govuk-label--s",
                  attributes: { "aria-live": "polite" }
                },
                hint: {
                  text: 'Such as date, circumstances and evidence'
                },
                attributes: { "aria-label" : "Give details of the condition" },
                errorMessage: errors | findError(condition.conditionTypeCode + "_details")
              }) }}
            </section>
          {% endfor %}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Record conditions",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
