<div class="govuk-summary-card__content govuk-!-padding-bottom-0 govuk-!-padding-top-2" data-qa="challenges-actions">
  <ul class="govuk-list govuk-!-margin-0" data-qa="challenges-action-items">
        <li class="govuk-!-margin-0 govuk-!-padding-bottom-3 govuk-!-padding-top-3">
          <a class="govuk-link" data-qa="add-challenge-button" href="#">
              <span>
                <img src="/assets/images/icon-edit.svg" role="presentation" alt="" class="action-icon" />
                Add challenge
              </span>
          </a>
        </li>
        <li class="govuk-!-margin-0 govuk-!-padding-bottom-3 govuk-!-padding-top-3">
          <a class="govuk-link" data-qa="record-screener-results-button" href="/aln-screener/{{ params.prisonerSummary.prisonNumber }}/create/screener-date">
              <span>
                <img src="/assets/images/icon-document.svg" role="presentation" alt="" class="action-icon" />
                Record screener results
              </span>
          </a>
        </li>
  </ul>
</div>
