<div class="govuk-summary-card__content govuk-!-padding-bottom-0 govuk-!-padding-top-2" data-qa="strengths-actions">
  <ul class="govuk-list govuk-!-margin-0" data-qa="strengths-action-items">
        <li class="govuk-!-margin-0 govuk-!-padding-bottom-3 govuk-!-padding-top-3">
          <a class="govuk-link" data-qa="add-strength-button" href="/strengths/{{ params.prisonerSummary.prisonNumber }}/create/select-category">
              <span>
                <img src="/assets/images/icon-edit.svg" role="presentation" alt="" class="action-icon" />
                Add strength
              </span>
          </a>
        </li>
        <li class="govuk-!-margin-0 govuk-!-padding-bottom-3 govuk-!-padding-top-3">
          <a class="govuk-link" data-qa="record-screener-results-button" href="#">
              <span>
                <img src="/assets/images/icon-document.svg" role="presentation" alt="" class="action-icon" />
                Record screener results
              </span>
          </a>
        </li>
  </ul>
</div>
