{% from "./macro.njk" import actionsCard %}

{{ actionsCard({
  prisonerSummary: prisonerSummary,
  userHasPermissionTo: userHasPermissionTo,
  educationSupportPlanCreationStatus: educationSupportPlanCreationStatus
}) }}
