{% extends "../layout.njk" %}

{% set pageId = 'record-aln-screener-date' %}
{% set pageTitle = "Additional learning needs screener - Screener date" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ mojDatePicker({
            name: "screenerDate",
            value: form.screenerDate,
            id: "screenerDate",
            label: {
              text: "What date was the screener completed?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            errorMessage: errors | findError('screenerDate')
          }) }}

        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
