{# Strengths Summary Card macro

Data supplied to this marco:
  params: {
    strengthsData: {
      nonAlnStrengths: Array<StrengthResponseDto> - Array of non-ALN Screener strengths
      latestAlnScreener: {
        screenerDate: Date - the Date of the latest ALN Screener
        createdAtPrison: string - the prisonId where the latest ALN Screener was recorded
        strengths: Array<StrengthResponseDto> - Array of strengths on the latest ALN Screener
      }
    }
    title: string - Summary Card title
    id: string
    classes: string
    attributes: Object
  }
#}
{% macro strengthsSummaryCard(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
