{% from "./macro.njk" import strengthsSummaryCard %}

{{ strengthsSummaryCard({
  strengthsData: strengthsData,
  prisonNamesById: prisonNamesById,
  title: title,
  classes: classes,
  attributes: attributes
}) }}
