{#  -------------------------------------------------------------
    Banner section showing prisoner summary data
    `params` argument is an object with the following properties:
      * prisonerSummary - the PrisonerSummary object of the prisoner to display
    ------------------------------------------------------------- #}
{% macro prisonerSummaryBanner(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
