{% extends "../../layout.njk" %}

{% set pageId = 'delete-condition-reason' %}
{% set pageTitle = applicationName + ' - ' + ('Delete history condition reason' if mode == 'history' else 'Delete condition reason') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% set legendText = "Select a reason for deleting " + (prisonerSummary | formatFirst_name_Last_name) + ("'s history condition" if mode == 'history' else "'s condition") %}
        {% set enteredInErrorText = "History condition entered in error" if mode == 'history' else "Condition entered in error" %}
        {{ govukRadios({
          name: "deleteReason",
          fieldset: {
            legend: {
              text: legendText,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "DATA_PROCESSING_OBJECTION",
              text: "Prisoner objected to change in data processing",
              checked: form.deleteReason === "DATA_PROCESSING_OBJECTION"
            },
            {
              value: "ENTERED_IN_ERROR",
              text: enteredInErrorText,
              checked: form.deleteReason === "ENTERED_IN_ERROR"
            }
          ],
          errorMessage: errors | findError('deleteReason')
        }) }}

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
