{% from "./macro.njk" import actionsCard %}

{{ actionsCard({
  prisonerSummary: prisonerSummary,
  userHasPermissionTo: userHasPermissionTo,
  planStatus: planStatus,
  planCreationDeadlineDate: planCreationDeadlineDate
}) }}
