{# Actions Card macro for the Profile pages

Data supplied to this macro:
  params: {
    userHasPermissionTo
    prisonerSummary
    planStatus
    planCreationDeadlineDate
    planReviewDeadlineDate
  }
#}
{% macro actionsCard(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
