{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}
{% from "../../../components/challenges-and-support-summary-card/macro.njk" import challengesAndSupportSummaryCard %}
{% from "../../../components/archived-challenges-and-support-summary-card/macro.njk" import archivedChallengesAndSupportSummaryCard %}

{% set pageId = 'profile-challenges-and-support' %}
{% set pageTitle = "Support for additional needs - Challenges and support" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Challenges and support</h2>
    </div>
  </div>

  <div class="govuk-grid-row">

    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      {% if activeChallengesAndSupport.isFulfilled() and archivedChallengesAndSupport.isFulfilled() %}
        {# The active and archived Challenges and Support Strategies are already grouped by category #}
        {% set activeChallengesAndSupportByCategory = activeChallengesAndSupport.value.dataGroupedByCategory %}
        {% set archivedChallengesAndSupportByCategory = archivedChallengesAndSupport.value.dataGroupedByCategory %}

        {# Get the summary counts  #}
        {% set activeCategoriesCount = activeChallengesAndSupport.value.summary.categoryCount %}
        {% set activeChallengesCount = activeChallengesAndSupport.value.summary.challengesCount %}
        {% set activeSupportStrategiesCount = activeChallengesAndSupport.value.summary.supportStrategiesCount %}
        {% set archivedCategoriesCount = archivedChallengesAndSupport.value.summary.categoryCount %}
        {% set archivedChallengesCount = archivedChallengesAndSupport.value.summary.challengesCount %}
        {% set archivedSupportStrategiesCount = archivedChallengesAndSupport.value.summary.supportStrategiesCount %}

        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

        {% set activeChallengesAndSupportContent %}
          {% if activeChallengesCount === 0 %}
            <p class="govuk-body" data-qa="no-active-challenges-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no current challenges.
            </p>
            {% if userHasPermissionTo('RECORD_CHALLENGES') %}
              <p class="govuk-body">
                <a class="govuk-link" href="/challenges/{{ prisonerSummary.prisonNumber }}/create/select-category" data-qa="add-challenge-button">Add a challenge</a>
              </p>
            {% endif %}
          {% endif %}

          {% if activeSupportStrategiesCount === 0 %}
            <p class="govuk-body" data-qa="no-active-support-strategies-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no current support strategies.
            </p>
            {% if userHasPermissionTo('RECORD_SUPPORT_STRATEGIES') %}
              <p class="govuk-body">
                <a class="govuk-link" href="/support-strategies/{{ prisonerSummary.prisonNumber }}/create/select-category" data-qa="add-support-strategy-button">Add support strategy</a>
              </p>
            {% endif %}
          {% endif %}

          {% if activeCategoriesCount > 0 %}
            {% for challengeAndSupportCategory, challengeAndSupportData in activeChallengesAndSupportByCategory %}
              {%- set summaryCardTitle -%}
                {%- if challengeAndSupportCategory !== 'GENERAL' -%}
                  {{ challengeAndSupportCategory | formatChallengeCategoryScreenValue | default(challengeAndSupportCategory, true) }}
                {%- else -%}
                  {{ challengeAndSupportCategory | formatSupportStrategyTypeScreenValue | default(challengeAndSupportCategory, true) }}
                {%- endif -%}
              {%- endset -%}
              {{ challengesAndSupportSummaryCard({
                challengeAndSupportData: challengeAndSupportData,
                prisonNamesById: prisonNamesById,
                prisonNumber: prisonerSummary.prisonNumber,
                userHasPermissionTo: userHasPermissionTo,
                title: summaryCardTitle,
                attributes: {
                  'data-qa': 'active-challenges-and-support-summary-card-' + challengeAndSupportCategory
                }
              }) }}
            {% endfor %}
          {% endif %}
        {% endset %}

        {% set archivedChallengesAndSupportContent %}
          {% if archivedCategoriesCount > 0 %}
            {% for challengeAndSupportCategory, challengeAndSupportData in archivedChallengesAndSupportByCategory %}
              {% set archivedChallenges = challengeAndSupportData.nonAlnChallenges %}
              {% set archivedSupportStrategies = challengeAndSupportData.supportStrategies %}
              {%- set summaryCardTitle -%}
                {%- if challengeAndSupportCategory !== 'GENERAL' -%}
                  {{ challengeAndSupportCategory | formatChallengeCategoryScreenValue | default(challengeAndSupportCategory, true) }}
                {%- else -%}
                  {{ challengeAndSupportCategory | formatSupportStrategyTypeScreenValue | default(challengeAndSupportCategory, true) }}
                {%- endif -%}
              {%- endset -%}
              {{ archivedChallengesAndSupportSummaryCard({
                archivedChallenges: archivedChallenges,
                archivedSupportStrategies: archivedSupportStrategies,
                prisonNamesById: prisonNamesById,
                userHasPermissionTo: userHasPermissionTo,
                title: summaryCardTitle,
                attributes: {
                  'data-qa': 'archived-challenges-and-support-summary-card_' + challengeCategory
                }
              }) }}
            {% endfor %}
          {% else %}
            <p class="govuk-body" data-qa="no-archived-challenges-or-support-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no previous challenges or support strategies.
            </p>
          {% endif %}
        {% endset %}


        {{ govukTabs({
          items: [
            {
              label: 'Current (' + activeCategoriesCount + ')',
              id: 'current-challenges-and-support',
              panel: {
                html: activeChallengesAndSupportContent
              }
            },
            {
              label: 'History (' + archivedCategoriesCount + ')',
              id: 'archived-challenges-and-support',
              panel: {
                html: archivedChallengesAndSupportContent
              }
            }
          ]
        }) }}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="challenges-and-support-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate,
        planReviewDeadlineDate: educationSupportPlanLifecycleStatus.reviewDeadlineDate
      }) }}
    </div>
  </div>
{% endblock %}
