{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}

{% set pageId = 'profile-challenges-and-support' %}
{% set pageTitle = "Support for additional needs - Challenges and support" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Challenges and support</h2>
    </div>
  </div>

  <div class="govuk-grid-row">

    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      {% if activeChallengesAndSupport.isFulfilled() and archivedChallengesAndSupport.isFulfilled() %}
        {# The active and archived Challenges and Support Strategies are already grouped by category #}
        {% set activeChallengesAndSupport = activeChallengesAndSupport.value %}
        {% set archivedChallengesAndSupport = archivedChallengesAndSupport.value %}

        {# Get the count of active and archived Challenges and Support Strategies groupings (ie. their categories) #}
        {% set activeGroupCount = activeChallengesAndSupport | length %}
        {% set archivedGroupCount = archivedChallengesAndSupport | length %}

        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

        {{ govukTabs({
          items: [
            {
              label: 'Current (' + activeGroupCount + ')',
              id: 'current-challenges-and-support',
              panel: {
                html: ''
              }
            },
            {
              label: 'History (' + archivedGroupCount + ')',
              id: 'archived-challenges-and-support',
              panel: {
                html: ''
              }
            }
          ]
        }) }}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="challenges-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate,
        planReviewDeadlineDate: educationSupportPlanLifecycleStatus.reviewDeadlineDate
      }) }}
    </div>
  </div>
{% endblock %}
