{% extends "../../layout.njk" %}
{% from "../../../../components/conditions-summary-card/macro.njk" import conditionsSummaryCard %}

{% set pageId = 'education-support-plan-review-existing-conditions' %}
{% set pageTitle = "Create an education support plan - Review conditions" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ prisonerSummary | formatFirst_name_Last_name }}'s conditions</h1>

      {% if conditions.isFulfilled() %}
        {% set activeConditions = conditions.value.conditions | filterArrayOnProperty('active', true) | sort(attribute = 'updatedAt', reverse = true) %}
        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
        {% if activeConditions | length %}

          {{ conditionsSummaryCard({
            conditions: activeConditions | filterArrayOnProperty('source', 'CONFIRMED_DIAGNOSIS'),
            prisonNamesById: prisonNamesById,
            title: 'Confirmed diagnoses',
            attributes: {
              'data-qa': 'diagnosed-conditions-summary-card'
            }
          }) }}

          {{ conditionsSummaryCard({
            conditions: activeConditions | filterArrayOnProperty('source', 'SELF_DECLARED'),
            prisonNamesById: prisonNamesById,
            title: 'Self-declared conditions',
            attributes: {
              'data-qa': 'self-declared-conditions-summary-card'
            }
          }) }}

        {% else %}

          <div class="govuk-summary-card" data-qa="no-conditions-summary-card">
            <div class="govuk-summary-card__content">
              <p class="govuk-body">
                No conditions recorded
              </p>
            </div>
          </div>

        {% endif %}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="conditions-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}



      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
