{% set prisoners = searchResults.value.prisoners %}
{% set pagination = searchResults.value.pagination %}

<table class="govuk-table" data-qa="search-results-table">
  <caption><span class="govuk-visually-hidden">column headers with buttons are sortable.</span></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row" data-qa="sortable-table-headers">
      <th scope="col" class="govuk-table__header">Prisoner Name</th>
      <th scope="col" class="govuk-table__header">Prison Number</th>
      <th scope="col" class="govuk-table__header">Location</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% for prisoner in prisoners %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ prisoner.firstName }} {{ prisoner.lastName }}</td>
        <td class="govuk-table__cell">{{ prisoner.prisonNumber }}</td>
        <td class="govuk-table__cell">{{ prisoner.location }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<section data-qa="search-results-pagination">
  {{ mojPagination({
    items: pagination.items,
    results: pagination.results,
    previous: pagination.previous if pagination.previous.href,
    next: pagination.next if pagination.next.href
  }) }}
</section>
