{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "../../components/sortable-table-header/macro.njk" import sortableTableHeader %}

{% set prisoners = searchResults.value.prisoners %}
{% set page = searchResults.value.page %}
{% set pagination = searchResults.value.pagination %}

{% if prisoners | length %}

  {# Wrap the Search Results table in a form that contains hidden fields for the current search term, and page.
   This ensures that when then Search Results page is sorted via the buttons in the table header the current
   search term and page are maintained.
  #}
  <form class="form" method="get">
    <input type="hidden" name="searchTerm" value="{{ searchTerm }}" />
    <input type="hidden" name="page" value="{{ page }}" />

    <table class="govuk-table" data-qa="search-results-table">
      <caption><span class="govuk-visually-hidden">column headers with buttons are sortable.</span></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row" data-qa="sortable-table-headers">
          {{ sortableTableHeader({
            sortBy: sortField,
            sortOrder: sortDirection,
            fieldName: 'PRISONER_NAME',
            headerText: 'Prisoner'
          }) }}
          <th scope="col" class="govuk-table__header" data-qa="CELL_LOCATION-column-header">
            Location
          </th>
          {{ sortableTableHeader({
            sortBy: sortField,
            sortOrder: sortDirection,
            fieldName: 'RELEASE_DATE',
            headerText: 'Release date'
          }) }}
          <th scope="col" class="govuk-table__header" data-qa="ADDITIONAL_NEEDS-column-header">
            Additional needs
          </th>
          <th scope="col" class="govuk-table__header" data-qa="IN_EDUCATION-column-header">
            In education
          </th>

          {% if userHasPermissionTo('VIEW_ELSP_DEADLINES_AND_STATUSES_ON_SEARCH') %}
            <th scope="col" class="govuk-table__header" data-qa="PLAN_STATUS-column-header">
              Education plan
            </th>
            {{ sortableTableHeader({
              sortBy: sortField,
              sortOrder: sortDirection,
              fieldName: 'DEADLINE_DATE',
              headerText: 'Due date'
            }) }}
          {% endif %}
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for prisoner in prisoners %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/profile/{{ prisoner.prisonNumber }}/overview" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state govuk-!-display-none-print">
                {{ prisoner | formatLast_name_comma_First_name }}
              </a>
              <span class="app-print-only">{{ prisoner | formatLast_name_comma_First_name }}</span>
              <br>
              <span class='govuk-hint govuk-!-margin-bottom-0'>{{ prisoner.prisonNumber }}</span>
            </td>
            <td class="govuk-table__cell">{{ prisoner.location }}</td>
            <td class="govuk-table__cell">{{ prisoner.releaseDate | formatDate('d MMM yyyy') or 'N/A' }}</td>
            <td class="govuk-table__cell">{{ prisoner.hasAdditionalNeeds | formatYesNo }}</td>
            <td class="govuk-table__cell">{{ prisoner.isInEducation | formatYesNo }}</td>

            {% if userHasPermissionTo('VIEW_ELSP_DEADLINES_AND_STATUSES_ON_SEARCH') %}
              {% set planStatus = prisoner.planStatus %}
              {% set deadlineDate = prisoner.deadlineDate %}
              <td class="govuk-table__cell" data-qa-plan-status="{{ planStatus }}">
                {% if planStatus == 'NEEDS_PLAN' %}
                  <span class="govuk-tag govuk-tag--yellow" data-qa="needs-plan-tag">
                    Needs plan
                  </span>

                {% elseif planStatus == 'PLAN_DUE' %}
                  <span class="govuk-tag govuk-tag--yellow" data-qa="plan-due-tag">
                    Plan due
                  </span>

                {% elseif planStatus == 'ACTIVE_PLAN' %}
                  <span class="govuk-tag govuk-tag--green" data-qa="active-plan-tag">
                    Active plan
                  </span>

                {% elseif planStatus == 'PLAN_OVERDUE' %}
                  <span class="govuk-tag govuk-tag--red" data-qa="plan-overdue-tag">
                    Plan overdue
                  </span>

                {% elseif planStatus == 'INACTIVE_PLAN' %}
                  <span class="govuk-tag govuk-tag--grey" data-qa="inactive-plan-tag">
                    Inactive plan
                  </span>

                {% elseif planStatus == 'PLAN_DECLINED' %}
                  <span class="govuk-tag govuk-tag--grey" data-qa="plan-declined-tag">
                    Plan declined
                  </span>

                {% elseif planStatus == 'REVIEW_DUE' %}
                  <span class="govuk-tag govuk-tag--yellow" data-qa="review-due-tag">
                    Review due
                  </span>

                {% elseif planStatus == 'REVIEW_OVERDUE' %}
                  <span class="govuk-tag govuk-tag--red" data-qa="review-overdue-tag">
                    Review overdue
                  </span>

                {% else %}
                  <span data-qa="no-plan-tag">
                    No
                  </span>
                {% endif %}
              </td>
              <td class="govuk-table__cell" data-qa-deadlineDate="{{ deadlineDate | formatDate('yyyy-MM-dd') }}">
                {% if planStatus == 'NO_PLAN' or planStatus == 'INACTIVE_PLAN' or planStatus == 'PLAN_DECLINED' %}
                  N/A
                {% elseif planStatus == 'NEEDS_PLAN' %}
                  No due date
                {% else %}
                  {{ deadlineDate | formatDate('d MMM yyyy') or 'N/A' }}
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>

  <section data-qa="search-results-pagination">
    {{ mojPagination({
      items: pagination.items,
      results: pagination.results,
      previous: pagination.previous if pagination.previous.href,
      next: pagination.next if pagination.next.href
    }) }}
  </section>


{% else %}
  <h2 class="govuk-heading-m" data-qa="zero-results-message">0 results for "{{ searchTerm }}"</h2>
  <p class="govuk-body govuk-!-font-size-19">Check your spelling and search again, or clear the search and browse for the prisoner.</p>
{% endif %}
