{% extends "../../partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}

  {% if errorRecordingStrength %}
    <div class="hmpps-api-error-banner govuk-!-margin-bottom-4" data-qa="api-error-banner">
      <p>Sorry, there is a problem with the service</p>
      <p>There was a problem recording the strength. Try again later.</p>
    </div>
  {% endif %}

  <p class="govuk-body">{{ 'Edit' if mode == 'edit' else 'Add' }} strength</p>
{% endblock %}
