{% extends "../layout.njk" %}

{% set pageId = 'record-conditions-select-conditions' %}
{% set pageTitle = "Record conditions - select conditions" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What self-declared condition do you want to record for {{ prisonerSummary | formatFirst_name_Last_name }}?</h1>
      {{ govukWarningText({
        text: "You must have " + prisonerSummary | formatFirst_name_Last_name + "'s consent to share this information",
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <div class="govuk-grid-row">
            {# left hand column of check boxes #}
            <div class="govuk-grid-column-one-half">
              {{ govukCheckboxes({
                name: "conditions",
                hint: {
                  text: "Select all that apply"
                },
                idPrefix: 'main-conditions',
                items: [
                  {
                    value: "ABI",
                    text: "ABI" | formatConditionTypeScreenValue | default("ABI", true)
                  },
                  {
                    value: "ADHD",
                    text: "ADHD" | formatConditionTypeScreenValue | default("ADHD", true)
                  },
                  {
                    value: "ASC",
                    text: "ASC" | formatConditionTypeScreenValue | default("ASC", true)
                  },
                  {
                    value: "DLD_LANG",
                    text: "DLD_LANG" | formatConditionTypeScreenValue | default("DLD_LANG", true)
                  },
                  {
                    value: "LD_DOWN",
                    text: "LD_DOWN" | formatConditionTypeScreenValue | default("LD_DOWN", true)
                  },
                  {
                    value: "DYSCALCULIA",
                    text: "DYSCALCULIA" | formatConditionTypeScreenValue | default("DYSCALCULIA", true)
                  },
                  {
                    value: "DYSLEXIA",
                    text: "DYSLEXIA" | formatConditionTypeScreenValue | default("DYSLEXIA", true)
                  },
                  {
                    value: "DYSPRAXIA",
                    text: "DYSPRAXIA" | formatConditionTypeScreenValue | default("DYSPRAXIA", true)
                  },
                  {
                    value: "FASD",
                    text: "FASD" | formatConditionTypeScreenValue | default("FASD", true)
                  },
                  {
                    value: "DLD_HEAR",
                    text: "DLD_HEAR" | formatConditionTypeScreenValue | default("DLD_HEAR", true)
                  },
                  {
                    value: "LD_OTHER",
                    text: "LD_OTHER" | formatConditionTypeScreenValue | default("LD_OTHER", true)
                  },
                  {
                    value: "MENTAL_HEALTH",
                    text: "MENTAL_HEALTH" | formatConditionTypeScreenValue | default("MENTAL_HEALTH", true)
                  },
                  {
                    value: "NEURODEGEN",
                    text: "NEURODEGEN" | formatConditionTypeScreenValue | default("NEURODEGEN", true)
                  },
                  {
                    value: "PHYSICAL_OTHER",
                    text: "PHYSICAL_OTHER" | formatConditionTypeScreenValue | default("PHYSICAL_OTHER", true)
                  },
                  {
                    value: "TOURETTES",
                    text: "TOURETTES" | formatConditionTypeScreenValue | default("TOURETTES", true)
                  },
                  {
                    value: "VISUAL_IMPAIR",
                    text: "VISUAL_IMPAIR" | formatConditionTypeScreenValue | default("VISUAL_IMPAIR", true)
                  }
                ],
                errorMessage: errors | findError('conditions')
              }) }}
            </div>

            {# right hand column of check boxes #}
            <div class="govuk-grid-column-one-half">
              {{ govukCheckboxes({
                name: "conditions",
                hint: {
                  text: "Or any other:"
                },
                idPrefix: 'secondary-conditions',
                items: [
                  {
                    value: "OTHER",
                    text: "OTHER" | formatConditionTypeScreenValue | default("OTHER", true)
                  },
                  {
                    value: "DLD_OTHER",
                    text: "DLD_OTHER" | formatConditionTypeScreenValue | default("DLD_OTHER", true)
                  },
                  {
                    value: "LEARN_DIFF_OTHER",
                    text: "LEARN_DIFF_OTHER" | formatConditionTypeScreenValue | default("LEARN_DIFF_OTHER", true)
                  },
                  {
                    value: "LONG_TERM_OTHER",
                    text: "LONG_TERM_OTHER" | formatConditionTypeScreenValue | default("LONG_TERM_OTHER", true)
                  },
                  {
                    value: "NEURO_OTHER",
                    text: "NEURO_OTHER" | formatConditionTypeScreenValue | default("NEURO_OTHER", true)
                  }
                ]
              }) }}
            </div>
          </div>
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
