{% extends "../layout.njk" %}

{% set pageId = 'record-conditions-select-conditions' %}
{% set pageTitle = "Record conditions - select conditions" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What self-declared condition do you want to record for {{ prisonerSummary | formatFirst_name_Last_name }}?</h1>
      {{ govukWarningText({
        text: "You must have " + prisonerSummary | formatFirst_name_Last_name + "'s consent to share this information",
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% macro conditionNameInput(conditionType, value) %}
            {{ govukInput({
              id: conditionType + "_conditionNames",
              name: "conditionNames[" + conditionType + "]",
              value: value,
              maxlength: 200,
              label: {
                text: "Specify condition"
              },
              errorMessage: errors | findError(conditionType + "_conditionNames")
            }) }}
          {% endmacro %}

          <div class="govuk-grid-row">
            {# left hand column of check boxes #}
            <div class="govuk-grid-column-one-half">
              {{ govukCheckboxes({
                name: "conditions",
                hint: {
                  text: "Select all that apply"
                },
                idPrefix: 'main-conditions',
                items: [
                  {
                    value: "ABI",
                    text: "ABI" | formatConditionTypeScreenValue | default("ABI", true),
                    checked: form.conditions.includes("ABI")
                  },
                  {
                    value: "ADHD",
                    text: "ADHD" | formatConditionTypeScreenValue | default("ADHD", true),
                    checked: form.conditions.includes("ADHD")
                  },
                  {
                    value: "ASC",
                    text: "ASC" | formatConditionTypeScreenValue | default("ASC", true),
                    checked: form.conditions.includes("ASC")
                  },
                  {
                    value: "DLD_LANG",
                    text: "DLD_LANG" | formatConditionTypeScreenValue | default("DLD_LANG", true),
                    checked: form.conditions.includes("DLD_LANG")
                  },
                  {
                    value: "LD_DOWN",
                    text: "LD_DOWN" | formatConditionTypeScreenValue | default("LD_DOWN", true),
                    checked: form.conditions.includes("LD_DOWN")
                  },
                  {
                    value: "DYSCALCULIA",
                    text: "DYSCALCULIA" | formatConditionTypeScreenValue | default("DYSCALCULIA", true),
                    checked: form.conditions.includes("DYSCALCULIA")
                  },
                  {
                    value: "DYSLEXIA",
                    text: "DYSLEXIA" | formatConditionTypeScreenValue | default("DYSLEXIA", true),
                    checked: form.conditions.includes("DYSLEXIA")
                  },
                  {
                    value: "DYSPRAXIA",
                    text: "DYSPRAXIA" | formatConditionTypeScreenValue | default("DYSPRAXIA", true),
                    checked: form.conditions.includes("DYSPRAXIA")
                  },
                  {
                    value: "FASD",
                    text: "FASD" | formatConditionTypeScreenValue | default("FASD", true),
                    checked: form.conditions.includes("FASD")
                  },
                  {
                    value: "DLD_HEAR",
                    text: "DLD_HEAR" | formatConditionTypeScreenValue | default("DLD_HEAR", true),
                    checked: form.conditions.includes("DLD_HEAR")
                  },
                  {
                    value: "LD_OTHER",
                    text: "LD_OTHER" | formatConditionTypeScreenValue | default("LD_OTHER", true),
                    checked: form.conditions.includes("LD_OTHER"),
                    conditional: {
                      html: conditionNameInput(
                        "LD_OTHER",
                        form.conditionNames["LD_OTHER"]
                      )
                    }
                  },
                  {
                    value: "MENTAL_HEALTH",
                    text: "MENTAL_HEALTH" | formatConditionTypeScreenValue | default("MENTAL_HEALTH", true),
                    checked: form.conditions.includes("MENTAL_HEALTH"),
                    conditional: {
                      html: conditionNameInput(
                        "MENTAL_HEALTH",
                        form.conditionNames["MENTAL_HEALTH"]
                      )
                    }
                  },
                  {
                    value: "NEURODEGEN",
                    text: "NEURODEGEN" | formatConditionTypeScreenValue | default("NEURODEGEN", true),
                    checked: form.conditions.includes("NEURODEGEN"),
                    conditional: {
                      html: conditionNameInput(
                        "NEURODEGEN",
                        form.conditionNames["NEURODEGEN"]
                      )
                    }
                  },
                  {
                    value: "PHYSICAL_OTHER",
                    text: "PHYSICAL_OTHER" | formatConditionTypeScreenValue | default("PHYSICAL_OTHER", true),
                    checked: form.conditions.includes("PHYSICAL_OTHER"),
                    conditional: {
                      html: conditionNameInput(
                        "PHYSICAL_OTHER",
                        form.conditionNames["PHYSICAL_OTHER"]
                      )
                    }
                  },
                  {
                    value: "TOURETTES",
                    text: "TOURETTES" | formatConditionTypeScreenValue | default("TOURETTES", true),
                    checked: form.conditions.includes("TOURETTES")
                  },
                  {
                    value: "VISUAL_IMPAIR",
                    text: "VISUAL_IMPAIR" | formatConditionTypeScreenValue | default("VISUAL_IMPAIR", true),
                    checked: form.conditions.includes("VISUAL_IMPAIR"),
                    conditional: {
                      html: conditionNameInput(
                        "VISUAL_IMPAIR",
                        form.conditionNames["VISUAL_IMPAIR"]
                      )
                    }
                  }
                ],
                errorMessage: errors | findError('conditions')
              }) }}
            </div>

            {# right hand column of check boxes #}
            <div class="govuk-grid-column-one-half">
              {{ govukCheckboxes({
                name: "conditions",
                hint: {
                  text: "Or any other:"
                },
                idPrefix: 'secondary-conditions',
                items: [
                  {
                    value: "OTHER",
                    text: "OTHER" | formatConditionTypeScreenValue | default("OTHER", true),
                    checked: form.conditions.includes("OTHER"),
                    conditional: {
                      html: conditionNameInput(
                        "OTHER",
                        form.conditionNames["OTHER"]
                      )
                    }
                  },
                  {
                    value: "DLD_OTHER",
                    text: "DLD_OTHER" | formatConditionTypeScreenValue | default("DLD_OTHER", true),
                    checked: form.conditions.includes("DLD_OTHER"),
                    conditional: {
                      html: conditionNameInput(
                        "DLD_OTHER",
                        form.conditionNames["DLD_OTHER"]
                      )
                    }
                  },
                  {
                    value: "LEARN_DIFF_OTHER",
                    text: "LEARN_DIFF_OTHER" | formatConditionTypeScreenValue | default("LEARN_DIFF_OTHER", true),
                    checked: form.conditions.includes("LEARN_DIFF_OTHER"),
                    conditional: {
                      html: conditionNameInput(
                        "LEARN_DIFF_OTHER",
                        form.conditionNames["LEARN_DIFF_OTHER"]
                      )
                    }
                  },
                  {
                    value: "LONG_TERM_OTHER",
                    text: "LONG_TERM_OTHER" | formatConditionTypeScreenValue | default("LONG_TERM_OTHER", true),
                    checked: form.conditions.includes("LONG_TERM_OTHER"),
                    conditional: {
                      html: conditionNameInput(
                        "LONG_TERM_OTHER",
                        form.conditionNames["LONG_TERM_OTHER"]
                      )
                    }
                  },
                  {
                    value: "NEURO_OTHER",
                    text: "NEURO_OTHER" | formatConditionTypeScreenValue | default("NEURO_OTHER", true),
                    checked: form.conditions.includes("NEURO_OTHER"),
                    conditional: {
                      html: conditionNameInput(
                        "NEURO_OTHER",
                        form.conditionNames["NEURO_OTHER"]
                      )
                    }
                  }
                ]
              }) }}
            </div>
          </div>
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
