{% extends "../layout.njk" %}

{% set pageId = 'record-conditions-select-conditions' %}
{% set pageTitle = "Add condition - Record condition" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What self-declared{{ ' or diagnosed' if userHasPermissionTo('RECORD_DIAGNOSED_CONDITIONS') }} condition do you want to record for {{ prisonerSummary | formatFirst_name_Last_name }}?</h1>
      {{ govukWarningText({
        text: "You must have " + prisonerSummary | formatFirst_name_Last_name + "'s consent to share this information",
        iconFallbackText: "Warning"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% macro conditionalNameInput(conditionType, values) %}
            {% if conditionsThatRequireNaming.includes(conditionType) %}
              {{ govukInput({
                id: conditionType + "_conditionNames",
                name: "conditionNames[" + conditionType + "]",
                value: values[conditionType],
                maxlength: 200,
                label: {
                  text: "Specify condition"
                },
                errorMessage: errors | findError(conditionType + "_conditionNames")
              }) }}
            {% endif %}
          {% endmacro %}

          <div class="govuk-grid-row">
            {# left hand column of check boxes #}
            <div class="govuk-grid-column-one-half">
              {{ govukCheckboxes({
                name: "conditions",
                hint: {
                  text: "Select all that apply"
                },
                idPrefix: 'conditions',
                items: [
                  {
                    value: "ABI",
                    text: "ABI" | formatConditionTypeScreenValue | default("ABI", true),
                    checked: form.conditions.includes("ABI"),
                    conditional: { html: conditionalNameInput("ABI", form.conditionNames) }
                  },
                  {
                    value: "ADHD",
                    text: "ADHD" | formatConditionTypeScreenValue | default("ADHD", true),
                    checked: form.conditions.includes("ADHD"),
                    conditional: { html: conditionalNameInput("ADHD", form.conditionNames) }
                  },
                  {
                    value: "ASC",
                    text: "ASC" | formatConditionTypeScreenValue | default("ASC", true),
                    checked: form.conditions.includes("ASC"),
                    conditional: { html: conditionalNameInput("ASC", form.conditionNames) }
                  },
                  {
                    value: "DLD_LANG",
                    text: "DLD_LANG" | formatConditionTypeScreenValue | default("DLD_LANG", true),
                    checked: form.conditions.includes("DLD_LANG"),
                    conditional: { html: conditionalNameInput("DLD_LANG", form.conditionNames) }
                  },
                  {
                    value: "LD_DOWN",
                    text: "LD_DOWN" | formatConditionTypeScreenValue | default("LD_DOWN", true),
                    checked: form.conditions.includes("LD_DOWN"),
                    conditional: { html: conditionalNameInput("LD_DOWN", form.conditionNames) }
                  },
                  {
                    value: "DYSCALCULIA",
                    text: "DYSCALCULIA" | formatConditionTypeScreenValue | default("DYSCALCULIA", true),
                    checked: form.conditions.includes("DYSCALCULIA"),
                    conditional: { html: conditionalNameInput("DYSCALCULIA", form.conditionNames) }
                  },
                  {
                    value: "DYSLEXIA",
                    text: "DYSLEXIA" | formatConditionTypeScreenValue | default("DYSLEXIA", true),
                    checked: form.conditions.includes("DYSLEXIA"),
                    conditional: { html: conditionalNameInput("DYSLEXIA", form.conditionNames) }
                  },
                  {
                    value: "DYSPRAXIA",
                    text: "DYSPRAXIA" | formatConditionTypeScreenValue | default("DYSPRAXIA", true),
                    checked: form.conditions.includes("DYSPRAXIA"),
                    conditional: { html: conditionalNameInput("DYSPRAXIA", form.conditionNames) }
                  },
                  {
                    value: "FASD",
                    text: "FASD" | formatConditionTypeScreenValue | default("FASD", true),
                    checked: form.conditions.includes("FASD"),
                    conditional: { html: conditionalNameInput("FASD", form.conditionNames) }
                  },
                  {
                    value: "DLD_HEAR",
                    text: "DLD_HEAR" | formatConditionTypeScreenValue | default("DLD_HEAR", true),
                    checked: form.conditions.includes("DLD_HEAR"),
                    conditional: { html: conditionalNameInput("DLD_HEAR", form.conditionNames) }
                  },
                  {
                    value: "LD_OTHER",
                    text: "LD_OTHER" | formatConditionTypeScreenValue | default("LD_OTHER", true),
                    checked: form.conditions.includes("LD_OTHER"),
                    conditional: { html: conditionalNameInput("LD_OTHER", form.conditionNames) }
                  },
                  {
                    value: "MENTAL_HEALTH",
                    text: "MENTAL_HEALTH" | formatConditionTypeScreenValue | default("MENTAL_HEALTH", true),
                    checked: form.conditions.includes("MENTAL_HEALTH"),
                    conditional: { html: conditionalNameInput("MENTAL_HEALTH", form.conditionNames) }
                  },
                  {
                    value: "NEURODEGEN",
                    text: "NEURODEGEN" | formatConditionTypeScreenValue | default("NEURODEGEN", true),
                    checked: form.conditions.includes("NEURODEGEN"),
                    conditional: { html: conditionalNameInput("NEURODEGEN", form.conditionNames) }
                  },
                  {
                    value: "PHYSICAL_OTHER",
                    text: "PHYSICAL_OTHER" | formatConditionTypeScreenValue | default("PHYSICAL_OTHER", true),
                    checked: form.conditions.includes("PHYSICAL_OTHER"),
                    conditional: { html: conditionalNameInput("PHYSICAL_OTHER", form.conditionNames) }
                  },
                  {
                    value: "TOURETTES",
                    text: "TOURETTES" | formatConditionTypeScreenValue | default("TOURETTES", true),
                    checked: form.conditions.includes("TOURETTES"),
                    conditional: { html: conditionalNameInput("TOURETTES", form.conditionNames) }
                  },
                  {
                    value: "VISUAL_IMPAIR",
                    text: "VISUAL_IMPAIR" | formatConditionTypeScreenValue | default("VISUAL_IMPAIR", true),
                    checked: form.conditions.includes("VISUAL_IMPAIR"),
                    conditional: { html: conditionalNameInput("VISUAL_IMPAIR", form.conditionNames) }
                  }
                ],
                errorMessage: errors | findError('conditions')
              }) }}
            </div>

            {# right hand column of check boxes #}
            <div class="govuk-grid-column-one-half">
              {{ govukCheckboxes({
                name: "conditions",
                hint: {
                  text: "Or any other:"
                },
                idPrefix: 'secondary-conditions',
                items: [
                  {
                    value: "OTHER",
                    text: "OTHER" | formatConditionTypeScreenValue | default("OTHER", true),
                    checked: form.conditions.includes("OTHER"),
                    conditional: { html: conditionalNameInput("OTHER", form.conditionNames) }
                  },
                  {
                    value: "DLD_OTHER",
                    text: "DLD_OTHER" | formatConditionTypeScreenValue | default("DLD_OTHER", true),
                    checked: form.conditions.includes("DLD_OTHER"),
                    conditional: { html: conditionalNameInput("DLD_OTHER", form.conditionNames) }
                  },
                  {
                    value: "LEARN_DIFF_OTHER",
                    text: "LEARN_DIFF_OTHER" | formatConditionTypeScreenValue | default("LEARN_DIFF_OTHER", true),
                    checked: form.conditions.includes("LEARN_DIFF_OTHER"),
                    conditional: { html: conditionalNameInput("LEARN_DIFF_OTHER", form.conditionNames) }
                  },
                  {
                    value: "LONG_TERM_OTHER",
                    text: "LONG_TERM_OTHER" | formatConditionTypeScreenValue | default("LONG_TERM_OTHER", true),
                    checked: form.conditions.includes("LONG_TERM_OTHER"),
                    conditional: { html: conditionalNameInput("LONG_TERM_OTHER", form.conditionNames) }
                  },
                  {
                    value: "NEURO_OTHER",
                    text: "NEURO_OTHER" | formatConditionTypeScreenValue | default("NEURO_OTHER", true),
                    checked: form.conditions.includes("NEURO_OTHER"),
                    conditional: { html: conditionalNameInput("NEURO_OTHER", form.conditionNames) }
                  }
                ]
              }) }}
            </div>
          </div>
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
