$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './components/actions-card';
@import './components/api-error';
@import './components/search';
@import './components/prisoner-summary-banner';
@import './components/additional-learning-needs-form';
@import './components/profile-overview';
@import './components/profile-education-support-plan';
@import './overrides/local';
@import './overrides/print';
