{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if latestAlnScreener.challenges | length %}
  <div class="govuk-summary-list__row" data-qa="aln-challenge-summary-list-row">
    <ul class="govuk-list govuk-!-margin-top-3">
      {% for challenge in latestAlnScreener.challenges %}
        {% set expanderContent %}
          <p class="app-u-multiline-text">{{ challenge.challengeTypeCode | challengeSupportTextLookup | default("Support strategy guidance not available") }}</p>
        {% endset %}
        <li>
          {{ govukDetails({
            summaryText: challenge.challengeTypeCode | formatChallengeTypeScreenValue,
            html: expanderContent,
            classes: "govuk-!-margin-top-3",
            attributes: {
              "data-qa": "aln-challenge-detail"
            }
          }) }}
        </li>
      {% endfor %}
    </ul>

    <p class="govuk-hint govuk-body govuk-!-font-size-16" data-qa="aln-challenge-audit">
      {% set prisonName = prisonNamesById[latestAlnScreener.createdAtPrison] | default(latestAlnScreener.createdAtPrison) %}
      From Additional Learning Needs Screener completed on {{ latestAlnScreener.screenerDate | formatDate('d MMMM yyyy') }}, {{ prisonName }}
    </p>
  </div>
{% endif %}
