{% from "./macro.njk" import challengesSummaryCard %}

{{ challengesSummaryCard({
  challengesData: challengesData,
  prisonNamesById: prisonNamesById,
  showActions: showActions,
  userHasPermissionTo: userHasPermissionTo,
  title: title,
  id: id,
  classes: classes,
  attributes: attributes
}) }}
