{% macro challengesSummaryCard(challenge, prisonNamesById) %}
  {%- include "./template.njk" -%}
{% endmacro %}

{% macro alnChallengesSummaryCard(latestAlnScreener, prisonNamesById) %}
  {%- include "./aln_template.njk" -%}
{% endmacro %}
