{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-review-support-plan' %}
{% set pageTitle = ('Review' if mode == 'review' else 'Create') + ' an education support plan - Review date' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set hintText %}
            <p class="govuk-body">
              Review date must be within 3 months.
            </p>
            <p class="govuk-hint">For example, 17/5/2026</p>
          {% endset %}

          {{ mojDatePicker({
            name: "reviewDate",
            value: form.reviewDate,
            id: "reviewDate",
            label: {
              text: "Set a review date for " + prisonerSummary | formatFirst_name_Last_name + "'s education support plan",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: hintText
            },
            errorMessage: errors | findError('reviewDate')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
