{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-review-support-plan' %}
{% set pageTitle = ('Review' if mode == 'review' else 'Create') + ' an education support plan - Review date' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <h1 class="govuk-heading-l">Set a review date for {{ prisonerSummary | formatFirst_name_Last_name }}'s education support plan</h1>

          {% set hintText %}
            {% if not featureToggles.reviewsEnabled %}
              Must be within 3 months of plan creation. Cannot be in the month of October 2025
            {% else %}
              {{ 'Must be within 3 months' if mode == 'review' else 'Must be within 3 months of plan creation' }}
            {% endif %}
          {% endset %}

          {{ mojDatePicker({
            name: "reviewDate",
            value: form.reviewDate,
            id: "reviewDate",
            label: {
              text: "Review date"
            },
            hint: {
              text: hintText
            },
            errorMessage: errors | findError('reviewDate')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
