<div class="govuk-summary-card" data-qa="no-support-strategies-summary-card">
  <div class="govuk-summary-card__content">
    <p class="govuk-body">
      No support strategies recorded
    </p>
    {% if userHasPermissionTo('RECORD_SUPPORT_STRATEGIES') %}
      <a class="govuk-link govuk-body govuk-!-display-none-print" href="/support-strategies/{{ prisonerSummary.prisonNumber }}/create/select-category">Add support strategy</a>
    {% endif %}
  </div>
</div>
