{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}
{% from "../../../components/archived-support-strategies-summary-card/macro.njk" import archivedSupportStrategiesSummaryCard %}
{% from "../../../components/support-strategies-summary-card/macro.njk" import supportStrategiesSummaryCard %}

{% set pageId = 'profile-support-strategies' %}
{% set pageTitle = "Support for additional needs - Support strategies" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Support strategies</h2>
    </div>
  </div>

  <div class="govuk-grid-row">

    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      {% if activeSupportStrategies.isFulfilled() and archivedSupportStrategies.isFulfilled() %}
        {% set activeSupportStrategies = activeSupportStrategies.value %}
        {% set activeSupportStrategiesCount = activeSupportStrategies | length %}
        {% set archivedSupportStrategies = archivedSupportStrategies.value %}
        {% set archivedSupportStrategiesCount = archivedSupportStrategies | length %}
        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

        {% set activeSupportStrategiesContent %}
          {% if activeSupportStrategiesCount > 0 %}
            {% for supportStragegyCategory, supportStrategies in activeSupportStrategies %}

              {{ supportStrategiesSummaryCard({
                title: supportStragegyCategory | formatSupportStrategyTypeScreenValue | default(supportStragegyCategory, true),
                supportStrategies: supportStrategies,
                prisonNamesById: prisonNamesById,
                showActions: true,
                userHasPermissionTo: userHasPermissionTo,
                attributes: {
                  'data-qa': 'active-support-strategy-summary-card_' + supportStragegyCategory
                }
              }) }}
            {% endfor %}

          {% else %}
            {% if featureToggles.editAndArchiveEnabled %}
              <p class="govuk-body" data-qa="no-active-support-strategies-message">
                {{ prisonerSummary | formatFirst_name_Last_name }} has no current support strategies.
              </p>
            {% else %}
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__content">
                  <p class="govuk-body" data-qa="no-active-support-strategies-message">
                    No support strategies recorded
                  </p>
                </div>
              </div>

            {% endif %}

          {% endif %}

          <p class="govuk-body">
            {% if userHasPermissionTo('RECORD_SUPPORT_STRATEGIES') %}
              <a class="govuk-link govuk-!-display-none-print" href="/support-strategies/{{ prisonerSummary.prisonNumber }}/create/select-category">
                Add a support strategy
              </a>
            {% endif %}
          </p>
        {% endset %}

        {% set archivedSupportStrategiesContent %}
          {% if archivedSupportStrategiesCount > 0 %}

            {% for supportStragegyCategory, archivedSupportStrategies in archivedSupportStrategies %}

              {{ archivedSupportStrategiesSummaryCard({
                title: supportStragegyCategory | formatSupportStrategyTypeScreenValue | default(supportStragegyCategory, true),
                archivedSupportStrategies: archivedSupportStrategies,
                prisonNamesById: prisonNamesById,
                attributes: {
                  'data-qa': 'archived-support-strategy-summary-card_' + supportStragegyCategory
                }
              }) }}
            {% endfor %}

          {% else %}
            <p class="govuk-body" data-qa="no-archived-support-strategies-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no previous support strategies.
            </p>
          {% endif %}
        {% endset %}

        {% if featureToggles.editAndArchiveEnabled %}
          {{ govukTabs({
            items: [
              {
                label: 'Current (' + activeSupportStrategiesCount + ')',
                id: 'current-support-strategies',
                panel: {
                  html: activeSupportStrategiesContent
                }
              },
              {
                label: 'History (' + archivedSupportStrategiesCount + ')',
                id: 'archived-support-strategies',
                panel: {
                  html: archivedSupportStrategiesContent
                }
              }
            ]
          }) }}
        {% else %}
          {{ activeSupportStrategiesContent | safe }}
        {% endif %}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="support-strategies-unavailable-message">We cannot show these details
          right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be
          available.</p>
      {% endif %}

    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate,
        planReviewDeadlineDate: educationSupportPlanLifecycleStatus.reviewDeadlineDate
      }) }}
    </div>
  </div>
{% endblock %}
