{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}

{% set pageId = 'profile-support-strategies' %}
{% set pageTitle = "Support for additional needs - Support strategies" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Support strategies</h2>
    </div>
  </div>

  <div class="govuk-grid-row">

    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      <section>
        {% if supportStrategies.isFulfilled() %}
          {% set supportStrategies = supportStrategies.value %}
          {% if supportStrategies | length == 0 %}
            {% include "./_noSupportStrategiesSummaryCard.njk" %}
          {% else %}
            {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
            {% for groupName, supportStrategyData in supportStrategies %}
                  <div class="govuk-summary-card" data-qa="support-strategy-summary-card-{{ groupName }}">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title">{{ groupName | formatSupportStrategyTypeScreenValue }}</h2>
                    </div>
                    <div class="govuk-summary-card__content govuk-!-padding-top-0">
                      <div class="govuk-summary-list">
                        {% for supportStrategy in supportStrategyData %}
                          <div class="govuk-summary-list__row" data-qa="support-strategy-summary-list-row">
                            <p class="govuk-body govuk-!-margin-top-3 app-u-multiline-text"
                               data-qa="support-strategy-details">{{ supportStrategy.supportStrategyDetails }}
                            </p>

                            <div class="actions-wrapper">
                              <p class="govuk-hint govuk-body govuk-!-font-size-16" data-qa="support-strategy-audit">
                                {% set prisonName = prisonNamesById[supportStrategy.updatedAtPrison] | default(supportStrategy.updatedAtPrison) %}
                                Last updated {{ supportStrategy.updatedAt | formatDate('d MMM yyyy') }} by {{ supportStrategy.updatedByDisplayName }}, {{ prisonName }}
                              </p>

                              {% if featureToggles.editAndArchiveEnabled %}
                                <ul class="govuk-summary-card__actions govuk-!-display-none-print">
                                  {% if userHasPermissionTo('EDIT_SUPPORT_STRATEGIES') %}
                                    <li class="govuk-summary-card__action">
                                      <a class="govuk-link govuk-!-font-weight-regular" href="/support-strategies/{{ supportStrategy.prisonNumber }}/{{ supportStrategy.reference }}/edit/detail" data-qa="edit-support-strategy-button">Edit</a>
                                    </li>
                                  {% endif %}
                                  {% if userHasPermissionTo('ARCHIVE_SUPPORT_STRATEGIES') %}
                                    <li class="govuk-summary-card__action">
                                      <a class="govuk-link govuk-!-font-weight-regular" href="/support-strategies/{{ supportStrategy.prisonNumber }}/{{ supportStrategy.reference }}/archive/reason" data-qa="archive-support-strategy-button">Move to history</a>
                                    </li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                            </div>

                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
              {% endfor %}
          {% endif %}
        {% else %}
            <h3 class="govuk-heading-s" data-qa="support-strategies-unavailable-message">We cannot show these details
              right now</h3>
            <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be
              available.</p>
        {% endif %}
      </section>

      <p class="govuk-body">
        {% if userHasPermissionTo('RECORD_SUPPORT_STRATEGIES') %}
          <a class="govuk-link govuk-!-display-none-print" href="/support-strategies/{{ prisonerSummary.prisonNumber }}/create/select-category">
            Add a support strategy
          </a>
        {% endif %}
      </p>
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate,
        planReviewDeadlineDate: educationSupportPlanLifecycleStatus.reviewDeadlineDate
      }) }}
    </div>
  </div>
{% endblock %}
