.actions-card {
  display: none; // Hide the entire action card by default

  .govuk-summary-card__content {
    display: none; // Hide the action card content section by default
  }
  .govuk-summary-card__content:has(.govuk-list li),
  .govuk-summary-card__content:has(.govuk-tag) {
    // Show the action card content section only if it contains at least one item or tag within it
    display: block;
  }

  .govuk-summary-card__title-wrapper {
    background: none;
    border-bottom: 2px solid $govuk-border-colour;

    .govuk-summary-card__title {
      @extend .govuk-heading-m;
      @extend .govuk-\!-margin-bottom-1;
    }
  }

  section {
    border-bottom: 1px solid $govuk-border-colour;
    margin: 0;
    padding: 0;
    @extend .govuk-\!-padding-bottom-3;
  }
  :last-of-type section {
    border: none;
  }

  ul {
    margin: 0;
  }

  li {
    @extend .govuk-\!-padding-top-1;
    @extend .govuk-\!-padding-bottom-1;
  }
  .govuk-tag {
    max-width: fit-content;
  }

  .action-icon {
    margin-right: 8px;
    vertical-align: middle;
    width: 35px;
    height: 28px;
  }
}

.actions-card:has(.govuk-summary-card__content .govuk-list li),
.actions-card:has(.govuk-summary-card__content .govuk-tag){
  // Show the entire action card only if any summary card has at least one list item or tag within it
  display: block;
}

