.profile-education-support-plan {

  [data-qa="education-support-plan-summary-card"],
  [data-qa="education-support-plan-persons-view-summary-card"],
  [data-qa="declined-education-support-plan-summary-card"] {
    dt, dd {
      display: block;
      width: auto;
    }
    dt {
      margin: 0;
      padding: 0;
      @include govuk-responsive-padding(2, 'top');
    }
  }
}
