{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-lnsp-support' %}
{% set pageTitle = "Create an education support plan - Needs specific learning needs support" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set detailsHtml %}
            {{ govukTextarea({
              id: "details",
              name: "details",
              rows: "4",
              value: form.details,
              type: "text",
              label: {
                text: "Add recommended support details for each course and the roles needed",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give details of any support an LNSP is expected to provide" },
              errorMessage: errors | findError('details')
            }) }}

            {{ govukInput({
              id: "supportHours",
              name: "supportHours",
              value: form.supportHours,
              maxlength: 4,
              type: "number",
              label: {
                text: "For prison learning support staff only, add the total recommended hours needed for all their current courses",
                attributes: { "aria-live": "polite" }
              },
              hint: {
                text: "This can be an estimate, for example 0 or 2"
              },
              classes: 'govuk-input--width-4',
              errorMessage: errors | findError('supportHours')
            }) }}

          {% endset %}

          {{ govukRadios({
            name: "supportRequired",
            fieldset: {
              legend: {
                text: "Do you recommend " + prisonerSummary | formatFirst_name_Last_name + " has specific learning needs support?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "YES",
                text: "Yes",
                checked: form.supportRequired === "YES",
                conditional: {
                  html: detailsHtml
                }
              },
              {
                value: "NO",
                text: "No",
                checked: form.supportRequired === "NO"
              }
            ],
            errorMessage: errors | findError('supportRequired')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
