{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-lnsp-support' %}
{% set pageTitle = "Create an education support plan" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set detailsHtml %}
            {{ govukTextarea({
              id: "details",
              name: "details",
              rows: "4",
              value: form.details,
              type: "text",
              label: {
                text: "Add details",
                attributes: { "aria-live": "polite" }
              },
              hint: {
                text: 'Add support needs including number of hours needed'
              },
              attributes: { "aria-label" : "Give details of any support an LNSP is expected to provide" },
              errorMessage: errors | findError('details')
            }) }}
          {% endset %}

          {{ govukRadios({
            name: "supportRequired",
            fieldset: {
              legend: {
                text: "Does " + prisonerSummary | formatFirst_name_Last_name + " need support in the classroom from specialist learning needs staff?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "YES",
                text: "Yes",
                checked: form.supportRequired === "YES",
                conditional: {
                  html: detailsHtml
                }
              },
              {
                value: "NO",
                text: "No",
                checked: form.supportRequired === "NO"
              }
            ],
            errorMessage: errors | findError('supportRequired')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
