{% from "./macro.njk" import archivedStrengthsSummaryCard %}

{{ archivedStrengthsSummaryCard({
  archivedStrengths: archivedStrengths,
  prisonNamesById: prisonNamesById,
  title: title,
  id: id,
  classes: classes,
  attributes: attributes
}) }}
