{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-review-existing-needs' %}
{% set pageTitle = "Create an education support plan - Review challenges, strengths and support strategies before creating education support plan" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukRadios({
            name: "reviewBeforeCreatingPlan",
            fieldset: {
              legend: {
                text: "Do you want to review " + prisonerSummary | formatFirst_name_Last_name + " challenges, strengths and support strategies before creating an education support plan?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "YES",
                text: "Yes",
                checked: form.reviewBeforeCreatingPlan === "YES"
              },
              {
                value: "NO",
                text: "No, we have already reviewed them",
                checked: form.reviewBeforeCreatingPlan === "NO"
              }
            ],
            errorMessage: errors | findError('reviewBeforeCreatingPlan')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
