{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-review-existing-needs' %}
{% set pageTitle = "Create an education support plan - Review challenges, strengths and support strategies before creating education support plan" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Review needs, conditions and strengths (placeholder page)</h1>

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
