{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-review-existing-needs' %}
{% set pageTitle = "Review an education support plan - Review challenges, strengths, conditions and support strategies before reviewing education support plan" if mode == 'review' else "Create an education support plan - Review challenges, strengths and support strategies before creating education support plan" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukCheckboxes({
            name: "reviewExistingNeeds",
            fieldset: {
              legend: {
                text: "You must review " + prisonerSummary | formatFirst_name_Last_name + "'s support strategies, challenges, strengths and conditions",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: '<a href="/profile/' + prisonerSummary.prisonNumber + '/overview" target="_blank" class="govuk-link">Review and update their support strategies, challenges, strengths and conditions (opens in a new tab).</a>',
              classes: 'govuk-!-margin-top-3 govuk-!-margin-bottom-6'
            },
            items: [
              {
                value: "YES",
                text: "I have reviewed these",
                checked: form.reviewExistingNeeds === "YES"
              }
            ],
            errorMessage: errors | findError('reviewExistingNeeds')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
