{% from "./macro.njk" import conditionsSummaryCard %}

{{ conditionsSummaryCard({
  conditions: conditions,
  prisonNamesById: prisonNamesById,
  showActions: showActions,
  userHasPermissionTo: userHasPermissionTo,
  title: title,
  classes: classes,
  attributes: attributes
}) }}
