{% from "./macro.njk" import conditionsSummaryCard %}

{{ conditionsSummaryCard({
  conditions: conditions,
  prisonNamesById: prisonNamesById,
  title: title,
  classes: classes,
  attributes: attributes
}) }}
