{# Archived Conditions Summary Card macro

Data supplied to this macro:
  params: {
    archivedConditions: Array<ConditionDto> - Pre-filtered array of archived conditions to render
    prisonNamesById: Object of key value pairs, where the key is the prison ID, and the value is the prison name
    title: string - Summary Card title
    id: string
    classes: string
    attributes: Object of key value pairs of additonal attributes to add the to the component
  }
#}
{% macro archivedConditionsSummaryCard(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}
