{% extends "../../../../partials/layout.njk" %}

{% set pageId = 'refuse-education-support-plan-reason' %}
{% set pageTitle = "Decline education support plan - Select reason education support plan declined" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}

  {% if errorRecordingEducationSupportPlanRefusal %}
    <div class="hmpps-api-error-banner govuk-!-margin-bottom-4" data-qa="api-error-banner">
      <p>Sorry, there is a problem with the service</p>
      <p>There was a problem recording the refusal of the education support plan. Try again later.</p>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% macro refusalReasonDetailsInput(reason, value) %}
            {{ govukTextarea({
              id: reason + "_refusalDetails",
              name: "refusalReasonDetails[" + reason + "]",
              value: value,
              rows: "3",
              maxlength: 200,
              label: {
                text: "More details",
                classes: "govuk-label--s govuk-!-font-weight-bold"
              },
              errorMessage: errors | findError(reason + "_refusalDetails")
            }) }}
          {% endmacro %}

          {{ govukRadios({
            name: "refusalReason",
            id: "refusalReason",
            fieldset: {
              legend: {
                text: "Select the reason " + prisonerSummary | formatFirst_name_Last_name + " declined an education support plan",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "EXEMPT_REFUSED_TO_ENGAGE",
                text: "EXEMPT_REFUSED_TO_ENGAGE" | formatPlanRefusalReason,
                checked: form.refusalReason === "EXEMPT_REFUSED_TO_ENGAGE",
                conditional: {
                  html: refusalReasonDetailsInput(
                    "EXEMPT_REFUSED_TO_ENGAGE",
                    form.refusalReasonDetails["EXEMPT_REFUSED_TO_ENGAGE"]
                  )
                }
              },
              {
                value: "EXEMPT_NOT_REQUIRED",
                text: "EXEMPT_NOT_REQUIRED" | formatPlanRefusalReason,
                checked: form.refusalReason === "EXEMPT_NOT_REQUIRED",
                conditional: {
                  html: refusalReasonDetailsInput(
                    "EXEMPT_NOT_REQUIRED",
                    form.refusalReasonDetails["EXEMPT_NOT_REQUIRED"]
                  )
                }
              },
              {
                value: "EXEMPT_INACCURATE_IDENTIFICATION",
                text: "EXEMPT_INACCURATE_IDENTIFICATION" | formatPlanRefusalReason,
                checked: form.refusalReason === "EXEMPT_INACCURATE_IDENTIFICATION",
                conditional: {
                  html: refusalReasonDetailsInput(
                    "EXEMPT_INACCURATE_IDENTIFICATION",
                    form.refusalReasonDetails["EXEMPT_INACCURATE_IDENTIFICATION"]
                  )
                }
              }
            ],
            errorMessage: errors | findError("refusalReason")
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Record reason",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
