<div class="govuk-summary-card" data-qa="no-challenges-summary-card">
  <div class="govuk-summary-card__content">
    <p class="govuk-body">
      No challenges recorded
    </p>
    {% if userHasPermissionTo('RECORD_CHALLENGES') %}
      <a class="govuk-link govuk-body" href="/challenges/{{ prisonerSummary.prisonNumber }}/create/select-category">Add challenge</a>
    {% endif %}
  </div>
</div>
