{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-ehcp' %}
{% set pageTitle = "Create an education support plan - Has a current education, health and care plan" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukRadios({
            name: "hasCurrentEhcp",
            fieldset: {
              legend: {
                text: "Does " + prisonerSummary | formatFirst_name_Last_name + " have a current education, health and care plan (EHCP)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: 'An EHCP is a plan for children and young people aged up to 25 who need additional needs support in education. Contact the person\'s local authority for more details.'
            },
            items: [
              {
                value: "YES",
                text: "Yes",
                checked: form.hasCurrentEhcp === "YES"
              },
              {
                value: "NO",
                text: "No",
                checked: form.hasCurrentEhcp === "NO"
              }
            ],
            errorMessage: errors | findError('hasCurrentEhcp')
            }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
