{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}
{% from "./components/macro.njk" import renderEducationSupportPlan %}
{% from "./components/macro.njk" import noEducationSupportPlan %}
{% from "./components/macro.njk" import declinedEducationSupportPlan %}
{% from "./components/macro.njk" import errorRetrievingApiData %}

{% set pageId = 'profile-education-support-plan' %}
{% set pageTitle = "Support for additional needs - Education support plan" %}

{% block content %}
  <div class="govuk-grid-row profile-education-support-plan">

    {% set educationSupportPlanFulFilled = educationSupportPlan.isFulfilled() %}
    {% set educationSupportPlan = educationSupportPlan.value if educationSupportPlanFulFilled else {} %}
    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      {% if educationSupportPlanFulFilled and educationSupportPlanLifecycleStatusFulFilled %}

        {% if educationSupportPlanLifecycleStatus.status === 'PLAN_DECLINED' %}

          {{ declinedEducationSupportPlan({
            prisonerSummary: prisonerSummary,
            planDeclined: educationSupportPlanLifecycleStatus.planDeclined
          }) }}

        {% else %}

          {% if educationSupportPlan %}

            {% if educationSupportPlanLifecycleStatus.status === 'INACTIVE_PLAN' %}
              {{ govukNotificationBanner({
                text: prisonerSummary | formatFirst_name_Last_name + ' is no longer eligible for an education support plan',
                attributes: {
                  'data-qa': 'inactive-plan-notification'
                }
              }) }}
            {% endif %}

            {{ renderEducationSupportPlan({
              prisonerSummary: prisonerSummary,
              educationSupportPlan: educationSupportPlan
            }) }}

          {% else %}

            {{ noEducationSupportPlan({
              prisonerSummary: prisonerSummary,
              planStatus: educationSupportPlanLifecycleStatus.status,
              planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate
            }) }}

          {% endif %}

        {% endif %}

      {% else %}
        {{ errorRetrievingApiData() }}
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate
      }) }}
    </div>

  </div>
{% endblock %}
