{% extends "../../layout.njk" %}

{% set pageId = 'strength-detail' %}
{% set pageTitle = "Edit strength or interest - Edit strength or interest details" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Edit {{ category | formatStrengthTypeScreenValue | lower }} strength or interest for {{ prisonerSummary | formatFirst_name_Last_name }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Category of strength or interest</h2>
      <p class="govuk-body">{{ category | formatStrengthTypeScreenValue }}</p>

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukTextarea({
            id: "description",
            name: "description",
            rows: "4",
            value: form.description,
            type: "text",
            label: {
              text: "Description of strength or interest",
              classes: "govuk-label--m",
              attributes: { "aria-live": "polite" }
            },
            hint: {
              text: "Note the things they are good at and enjoy"
            },
            attributes: { "aria-label" : "Enter the description of the strength or interest" },
            errorMessage: errors | findError('description')
          }) }}

          {% set otherHtml %}
            {{ govukInput({
              id: "howIdentifiedOther",
              name: "howIdentifiedOther",
              value: form.howIdentifiedOther,
              maxlength: 200,
              label: {
                text: "Please specify",
                attributes: { "aria-live": "polite" }
              },
              attributes: {
                "aria-label" : "Give details as to how this strength or interest was identified"
              },
              errorMessage: errors | findError('howIdentifiedOther')
            }) }}
          {% endset -%}

          {% set howIdentifiedMappingWarning %}
            {% if showIdentificationMappingWarning %}
              {{ govukWarningText({
                text: "This is an updated list. We have mapped the original selection to the equivalent option.",
                iconFallbackText: "Warning",
                attributes: { "data-qa": "how-identified-mapping-warning" }
              }) }}
            {% endif %}
          {% endset %}

          {{ govukCheckboxes({
            name: "howIdentified",
            fieldset: {
              legend: {
                text: "How was this strength or interest identified?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: 'Select all that apply'
            },
            formGroup: {
              beforeInputs: {
                html: howIdentifiedMappingWarning
              }
            },
            items: [
              {
                value: "EDUCATION_SKILLS_WORK",
                text: "EDUCATION_SKILLS_WORK" | formatStrengthIdentificationSourceScreenValue,
                checked: form.howIdentified.includes("EDUCATION_SKILLS_WORK")
              },
              {
                value: "WIDER_PRISON",
                text: "WIDER_PRISON" | formatStrengthIdentificationSourceScreenValue,
                checked: form.howIdentified.includes("WIDER_PRISON")
              },
              {
                value: "SELF_DISCLOSURE",
                text: "SELF_DISCLOSURE" | formatStrengthIdentificationSourceScreenValue,
                checked: form.howIdentified.includes("SELF_DISCLOSURE")
              },
              {
                value: "FORMAL_PROCESSES",
                text: "FORMAL_PROCESSES" | formatStrengthIdentificationSourceScreenValue,
                checked: form.howIdentified.includes("FORMAL_PROCESSES")
              },
              {
                value: "OTHER",
                text: "OTHER" | formatStrengthIdentificationSourceScreenValue,
                checked: form.howIdentified.includes("OTHER"),
                conditional: {
                  html: otherHtml
                }
              }
            ],
            errorMessage: errors | findError('howIdentified')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Update strength or interest",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
