{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if alnChallenges %}
      <div class="govuk-summary-list__row" data-qa="aln-challenge-summary-list-row">
        <ul class="govuk-list govuk-!-margin-top-3">
          {% for challenge in alnChallenges %}
            {% set expanderContent %}
              <p class="app-u-multiline-text">{{ challenge.challengeTypeCode | challengeSupportTextLookup | default("Support strategy guidance not available") }}</p>
            {% endset %}
            <li>
              {{ govukDetails({
                summaryText: challenge.challengeTypeCode | formatChallengeTypeScreenValue,
                html: expanderContent,
                classes: "govuk-!-margin-top-3",
                attributes: {
                  "data-qa": "aln-challenge-detail"
                }
              }) }}
            </li>
          {% endfor %}
        </ul>
        {% set prisonName = prisonNamesById[alnChallenges[0].updatedAtPrison] | default(alnChallenges[0].updatedAtPrison) %}
        <p class="govuk-hint govuk-body govuk-!-font-size-16" data-qa="aln-challenge-audit">
          From Additional Learning Needs Screener completed on {{ alnChallenges[0].alnScreenerDate | formatDate('d MMMM yyyy') }}, {{ prisonName }}
        </p>
    </div>
{% endif %}
