{% macro challengesSummaryCard(challenge) %}
  {%- include "./template.njk" -%}
{% endmacro %}

{% macro alnChallengesSummaryCard(alnChallenges) %}
  {%- include "./aln_template.njk" -%}
{% endmacro %}
