{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if challenge %}
      <div class="govuk-summary-list__row" data-qa="challenge-summary-list-row-non-aln-{{ challenge.challengeTypeCode }}">

            <p class="govuk-body govuk-!-margin-top-3"
               data-qa="non-aln-challenge-symptoms">{{ challenge.symptoms }}</p>

            {% set howIdentifiedContent %}
              <ul class="govuk-list govuk-!-font-size-16">
                {% for challengeIdentificationSource in challenge.howIdentified %}
                  <li>{{ challengeIdentificationSource | formatStrengthIdentificationSourceScreenValue if challengeIdentificationSource != 'OTHER' else challenge.howIdentifiedOther }}</li>
                {% endfor %}
              </ul>
            {% endset %}

            {{ govukDetails({
              summaryText: "How was this identified",
              html: howIdentifiedContent,
              attributes: {
                "data-qa": "non-aln-challenge-how-identified"
              }
            }) }}
          {% set prisonName = prisonNamesById[challenge.updatedAtPrison] | default(challenge.updatedAtPrison) %}
            <p class="govuk-hint govuk-body govuk-!-font-size-16" data-qa="non-aln-challenge-audit">
              Added on {{ challenge.updatedAt | formatDate('d MMMM yyyy') }} by {{ challenge.updatedByDisplayName }}, {{ prisonName }}
            </p>
      </div>
{% endif %}
