{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-teaching-adjustments' %}
{% set pageTitle =  'Review an education support plan - Review adjustments to teaching, learning environment or materials' if mode == 'review' else 'Create an education support plan - Needs adjustments to teaching, learning environment or materials' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set detailsHtml %}
            {{ govukTextarea({
              id: "details",
              name: "details",
              rows: "4",
              value: form.details,
              type: "text",
              label: {
                text: "Edit details" if mode == 'review' and currentAnswer != "No" else "Add details",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give details of any required teaching adjustments" },
              errorMessage: errors | findError('details')
            }) }}
          {% endset %}

          {% set hintText %}
            <p class="govuk-hint">
              For teaching this could be breaking down tasks, revisiting key concepts or giving additional processing time. For materials and environment adjustments, a desk at the front of class or near the door, materials on coloured background, overlays, specific font sizes, diagrammatic materials and assistive technology.
            </p>
            {% if mode == 'review' %}
              {% set currentAnswer %}
                <h3 class="govuk-heading-s">Current answer</h3>
                <p class="govuk-body app-u-multiline-text">{{ currentAnswer }}</p>
              {% endset %}
              {{ govukInsetText({
                html: currentAnswer
              }) }}
            {% endif %}
          {% endset %}

          {{ govukRadios({
            name: "adjustmentsNeeded",
            fieldset: {
              legend: {
                text: "Does " + prisonerSummary | formatFirst_name_Last_name + " need any adjustments to teaching, learning environment or materials?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: hintText
            },
            items: [
              {
                value: "YES",
                text: "Yes",
                checked: form.adjustmentsNeeded === "YES",
                conditional: {
                  html: detailsHtml
                }
              },
              {
                value: "NO",
                text: "No",
                checked: form.adjustmentsNeeded === "NO"
              }
            ],
            errorMessage: errors | findError('adjustmentsNeeded')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
