{% extends "../../layout.njk" %}

{% set pageId = 'delete-strength-review' %}
{% set pageTitle = 'Delete history strength review' if mode == 'history' else 'Delete strength review' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Review the {% if mode == 'history' %}history {% endif %}strength for {{ prisonerSummary | formatFirst_name_Last_name }} that you want to delete</h1>

      <div class="govuk-summary-card app-summary-card--grey govuk-!-margin-bottom-8" data-qa="strength-to-delete-summary">
        <div class="govuk-summary-card__content">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1" data-qa="strength-to-delete-category">
            {{ dto.strengthCategory | formatStrengthCategoryScreenValue | default(dto.strengthCategory, true) }}
          </h2>
          <p class="govuk-body app-u-multiline-text govuk-!-margin-bottom-0" data-qa="strength-to-delete-symptoms">{{ dto.symptoms }}</p>
        </div>
      </div>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
