{% extends "../../layout.njk" %}

{% set pageId = 'delete-strength-review' %}
{% set pageTitle = applicationName + ' - ' + ('Delete history strength review' if mode == 'history' else 'Delete strength review') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if mode == 'history' %}
        <h1 class="govuk-heading-l">Review the history strength for {{ prisonerSummary | formatFirst_name_Last_name }} that you want to delete</h1>
      {% else %}
        <h1 class="govuk-heading-l">Review the strength for {{ prisonerSummary | formatFirst_name_Last_name }} that you want to delete</h1>
      {% endif %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Strength type</dt>
          <dd class="govuk-summary-list__value">{{ dto.strengthCategory | formatStrengthCategoryScreenValue | default(dto.strengthCategory, true) }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Details</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body app-u-multiline-text">{{ dto.symptoms }}</p>
          </dd>
        </div>
      </dl>

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
