{% extends "../../layout.njk" %}

{% set pageId = 'delete-strength-confirm' %}
{% set pageTitle = applicationName + ' - ' + ('Delete history strength are you sure' if mode == 'history' else 'Delete strength are you sure') %}

{% set deleteReasonLabel %}
  {% if dto.deleteReason == 'DATA_PROCESSING_OBJECTION' %}
    Prisoner objected to change in data processing
  {% elif dto.deleteReason == 'ENTERED_IN_ERROR' %}
    {% if mode == 'history' %}History strength entered in error{% else %}Strength entered in error{% endif %}
  {% else %}
    {{ dto.deleteReason }}
  {% endif %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorDeletingStrength %}
        <div class="hmpps-api-error-banner govuk-!-margin-bottom-4" data-qa="api-error-banner">
          <p>Sorry, there is a problem with the service</p>
          <p>There was a problem deleting the strength. Try again later.</p>
        </div>
      {% endif %}

      {% if mode == 'history' %}
        <h1 class="govuk-heading-l">Are you sure you want to delete {{ prisonerSummary | formatFirst_name_Last_name }}'s history strength?</h1>
      {% else %}
        <h1 class="govuk-heading-l">Are you sure you want to delete {{ prisonerSummary | formatFirst_name_Last_name }}'s strength?</h1>
      {% endif %}

      {{ govukInsetText({
        html: '<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Deletion reason</h2><p class="govuk-body">' + deleteReasonLabel | trim + '</p>'
      }) }}

      {{ govukWarningText({
        text: "Data will be permanently deleted and cannot be retrieved.",
        iconFallbackText: "Warning"
      }) }}

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
          id: "submit-button",
          text: "Yes, delete",
          type: "submit",
          classes: "govuk-button--warning",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="/profile/{{ prisonerSummary.prisonNumber }}/strengths{% if mode == 'history' %}#archived-strengths{% else %}#current-strengths{% endif %}" data-qa="no-delete-link">No, go back to overview</a>
      </p>

    </div>
  </div>
{% endblock %}
