.govuk-main-wrapper {
  min-height: 600px;
}

// Hide the back link
.js-back-link {
  display: none;
}
// Display the back link when js is enabled by using a more explicit selector
.js-enabled .js-back-link {
  display: inline-block;
}

// Custom column widths
// https://design-system.service.gov.uk/components/table/#custom-column-widths

.app-u-width-10 {
  width: 10% !important;
}
.app-u-width-15 {
  width: 15% !important;
}
.app-u-width-20 {
  width: 20% !important;
}
.app-u-width-30 {
  width: 30% !important;
}
.app-u-width-40 {
  width: 40% !important;
}
.app-u-width-50 {
  width: 50% !important;
}
.app-u-width-60 {
  width: 60% !important;
}

.hmpps-width-20 {
  width: 20em;
}

.app-u-multiline-text {
  display: block;
  white-space: pre-line;
}

.app-u-button-as-link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  background-color: transparent;
  border: none;
  color: $govuk-link-colour;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

dl.app-u-description-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  dt {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
  }
  dd {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    margin: 0;
  }
}

.disable-link {
  pointer-events: none;
  cursor: default;
}

// Ensure that govuk checkbox conditional elements are not displayed if they have no content / are empty
.govuk-checkboxes__conditional:not(:has(*)) {
  display: none;
}
