.govuk-main-wrapper {
  min-height: 600px;
}

// Hide the back link
.js-back-link {
  display: none;
}
// Display the back link when js is enabled by using a more explicit selector
.js-enabled .js-back-link {
  display: inline-block;
}

.app-u-multiline-text {
  display: block;
  white-space: pre-line;
}

.app-u-button-as-link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  background-color: transparent;
  border: none;
  color: $govuk-link-colour;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

dl.app-u-description-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  dt {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
  }
  dd {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    margin: 0;
  }
}

.disable-link {
  pointer-events: none;
  cursor: default;
}
