{% extends "../../partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#",
    classes: "js-back-link"
  }) }}

  <span class="govuk-caption-l">
    {% if mode == 'edit' %}
      Edit education support plan
    {% elseif mode == 'review' %}
      Review an education support plan
    {% else %}
      Create an education support plan
    {% endif %}
  </span>
{% endblock %}
