<div class="govuk-summary-card" data-qa="no-conditions-summary-card">
  <div class="govuk-summary-card__content">
    <p class="govuk-body">
      No conditions recorded
    </p>
    {% if userHasPermissionTo('RECORD_SELF_DECLARED_CONDITIONS') %}
      <a class="govuk-link govuk-body" href="/conditions/{{ prisonerSummary.prisonNumber }}/create/select-conditions">Record condition</a>
    {% endif %}
  </div>
</div>
