{% extends "../layout.njk" %}
{% from "./components/conditions-summary-card/macro.njk" import conditionsSummaryCard %}
{% from "../../../components/actions-card/macro.njk" import actionsCard %}

{% set pageId = 'profile-conditions' %}
{% set pageTitle = "Support for additional needs - Conditions" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-u-print-full-width">
      <h2 class="govuk-heading-m">Conditions</h2>

      {% if conditions.isFulfilled() %}
        {% set activeConditions = conditions.value.conditions | filterArrayOnProperty('active', true) %}
        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
        {% if activeConditions | length %}

          {{ conditionsSummaryCard({
            conditions: activeConditions | filterArrayOnProperty('source', 'CONFIRMED_DIAGNOSIS'),
            prisonNamesById: prisonNamesById,
            title: 'Confirmed diagnoses',
            attributes: {
              'data-qa': 'diagnosed-conditions-summary-card'
            }
          }) }}

          {{ conditionsSummaryCard({
            conditions: activeConditions | filterArrayOnProperty('source', 'SELF_DECLARED'),
            prisonNamesById: prisonNamesById,
            title: 'Self-declared conditions',
            attributes: {
              'data-qa': 'self-declared-conditions-summary-card'
            }
          }) }}

        {% else %}
          {% include './_noConditionsSummaryCard.njk' %}
        {% endif %}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="conditions-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        prisonerSummary: prisonerSummary,
        userHasPermissionTo: userHasPermissionTo,
        actionMenuType: 'conditions'
      }) }}
    </div>
  </div>
{% endblock %}
