<div class="govuk-summary-card" data-qa="education-support-plan-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Education support plan</h2>
  </div>
  <div class="govuk-summary-card__content">
    <h3 class="govuk-heading-s" data-qa="elsp-unavailable-message">We cannot show these details right now</h3>
    <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
  </div>
</div>
