{% from "./macro.njk" import renderEducationSupportPlanReviews %}

{{ renderEducationSupportPlanReviews({
  prisonerSummary: prisonerSummary,
  educationSupportPlanReviews: educationSupportPlanReviews
}) }}
