{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./components/challenges-summary-card/macro.njk" import challengesSummaryCard %}

{% if groupedChallenges %}
  {% for groupName, challenges in groupedChallenges %}
    <div class="govuk-summary-card" data-qa="challenges-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ groupName | formatChallengeCategoryScreenValue }}</h2>
      </div>

      <div class="govuk-summary-card__content govuk-!-padding-top-0">
        <div class="govuk-summary-list">
          {% for challenge in challenges %}
                {{  challengesSummaryCard(challenge) }}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
<a class="govuk-link govuk-!-font-weight-regular" href="#" data-qa="add-challenge-button">Add challenge</a>


