<div class="govuk-summary-card" data-qa="additional-needs-summary-card">
  <div class="govuk-summary-card__content">
    <p class="govuk-body">
      No challenges recorded
    </p>
    <a class="govuk-link govuk-!-font-weight-regular" href="#" data-qa="add-challenge-button">Add challenge</a>
  </div>
</div>
