{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}
{% from "../../../components/archived-challenges-summary-card/macro.njk" import archivedChallengesSummaryCard %}
{% from "../../../components/challenges-summary-card/macro.njk" import challengesSummaryCard %}

{% set pageId = 'profile-challenges' %}
{% set pageTitle = "Support for additional needs - Challenges" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Challenges</h2>
    </div>
  </div>

  <div class="govuk-grid-row">

    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      {% if activeChallenges.isFulfilled() and archivedChallenges.isFulfilled() %}
        {% set activeChallenges = activeChallenges.value %}
        {% set activeChallengesCount = activeChallenges | length %}
        {% set archivedChallenges = archivedChallenges.value %}
        {% set archivedChallengesCount = archivedChallenges | length %}
        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

        {% set activeChallengesContent %}
          {% if activeChallengesCount > 0 %}
            {% for challengeCategory, challengesData in activeChallenges %}
              {{ challengesSummaryCard({
                challengesData: challengesData,
                prisonNamesById: prisonNamesById,
                showActions: true,
                userHasPermissionTo: userHasPermissionTo,
                title: challengeCategory | formatChallengeCategoryScreenValue,
                attributes: {
                  'data-qa': 'active-challenges-summary-card-' + challengeCategory
                }
              }) }}
            {% endfor %}

          {% else %}
            <p class="govuk-body" data-qa="no-active-challenges-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no current challenges.
            </p>
          {% endif %}

          <p class="govuk-body">
            {% if userHasPermissionTo('RECORD_CHALLENGES') %}
              <a class="govuk-link govuk-!-display-none-print" href="/challenges/{{ prisonerSummary.prisonNumber }}/create/select-category">
                Add a challenge
              </a>
            {% endif %}
          </p>
        {% endset %}

        {% set archivedChallengesContent %}
          {% if archivedChallengesCount > 0 %}
            {% for challengeCategory, challengesData in archivedChallenges %}
              {% set archivedChallenges = challengesData.nonAlnChallenges %}
              {{ archivedChallengesSummaryCard({
                title: challengeCategory | formatChallengeCategoryScreenValue | default(challengeCategory, true),
                archivedChallenges: archivedChallenges,
                prisonNamesById: prisonNamesById,
                attributes: {
                  'data-qa': 'archived-challenges-summary-card_' + challengeCategory
                }
              }) }}
            {% endfor %}

          {% else %}
            <p class="govuk-body" data-qa="no-archived-challenges-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no previous challenges.
            </p>
          {% endif %}
        {% endset %}

        {{ govukTabs({
          items: [
            {
              label: 'Current (' + activeChallengesCount + ')',
              id: 'current-challenges',
              panel: {
                html: activeChallengesContent
              }
            },
            {
              label: 'History (' + archivedChallengesCount + ')',
              id: 'archived-challenges',
              panel: {
                html: archivedChallengesContent
              }
            }
          ]
        }) }}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="challenges-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate,
        planReviewDeadlineDate: educationSupportPlanLifecycleStatus.reviewDeadlineDate
      }) }}
    </div>
  </div>
{% endblock %}
