{% from "./macro.njk" import challengesAndSupportSummaryCard %}

{{ challengesAndSupportSummaryCard({
  challengeAndSupportData: challengeAndSupportData,
  prisonNamesById: prisonNamesById,
  userHasPermissionTo: userHasPermissionTo,
  title: title,
  id: id,
  classes: classes,
  attributes: attributes
}) }}
