---
# Per environment values which override defaults in hmpps-support-additional-needs-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    hosts:
      - support-for-additional-needs-preprod.hmpps.service.justice.gov.uk
      - san-preprod.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true
    startup: '30 6 * * 1-5' # Start at 6.30am UTC Monday-Friday
    shutdown: '00 21 * * 1-5' # Stop at 9.00pm UTC Monday-Friday

  env:
    INGRESS_URL: "https://support-for-additional-needs-preprod.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search-preprod.prison.service.justice.gov.uk"
    PRISON_REGISTER_API_URL: "https://prison-register-preprod.hmpps.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-preprod.hmpps.service.justice.gov.uk"
    SUPPORT_ADDITIONAL_NEEDS_API_URL: 'https://support-for-additional-needs-api-preprod.hmpps.service.justice.gov.uk'
    CURIOUS_API_URL: "https://preprodservices.sequation.net/sequation-virtual-campus2-api"
    ENVIRONMENT_NAME: PRE-PRODUCTION
    DPS_URL: 'https://digital-preprod.prison.service.justice.gov.uk'
    NEW_DPS_URL: "https://dps-preprod.prison.service.justice.gov.uk"
    COMPONENT_API_URL: "https://frontend-components-preprod.hmpps.service.justice.gov.uk"
    DPR_UI_REPORT_URL: 'https://digital-prison-reporting-mi-ui-preprod.hmpps.service.justice.gov.uk/dpr/request-report/report/san001/san-additional-needs-report/filters'

generic-prometheus-alerts:
  alertSeverity: hmpps-support-additional-needs-preprod
  businessHoursOnly: true
