{% extends "../../layout.njk" %}
{% from "../../../../components/support-strategies-summary-card/macro.njk" import supportStrategiesSummaryCard %}

{% set pageId = 'education-support-plan-review-existing-support-strategies' %}
{% set pageTitle = ('Review' if mode == 'review' else 'Create') + ' an education support plan - Review support strategies' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ prisonerSummary | formatFirst_name_Last_name }}'s support strategies</h1>

    {% if supportStrategies.isFulfilled() %}
      {% set supportStrategies = supportStrategies.value %}

      {% if supportStrategies | length %}

        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
        {% for supportStragegyCategory, supportStrategies in supportStrategies %}

          {{ supportStrategiesSummaryCard({
            title: supportStragegyCategory | formatSupportStrategyTypeScreenValue | default(supportStragegyCategory, true),
            supportStrategies: supportStrategies,
            prisonNamesById: prisonNamesById,
            showActions: false,
            attributes: {
              'data-qa': 'support-strategy-summary-card_' + supportStragegyCategory
            }
          }) }}
        {% endfor %}


      {% else %}

        <div class="govuk-summary-card" data-qa="no-support-strategies-summary-card">
          <div class="govuk-summary-card__content">
            <p class="govuk-body">
              No support strategies recorded
            </p>
          </div>
        </div>

      {% endif %}

    {% else %}
      <h3 class="govuk-heading-s" data-qa="support-strategies-unavailable-message">We cannot show these details right now</h3>
      <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
    {% endif %}

    <form class="form" method="post" novalidate="">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukButton({
        id: "submit-button",
        text: "Continue",
        type: "submit",
        attributes: {"data-qa": "submit-button"},
        preventDoubleClick: true
      }) }}
    </form>
  </div>
</div>
{% endblock %}
