{% from "./macro.njk" import strengthsSummaryCard %}

{{ strengthsSummaryCard({
  strengthsData: strengthsData,
  prisonNamesById: prisonNamesById,
  showActions: showActions,
  userHasPermissionTo: userHasPermissionTo,
  title: title,
  id: id,
  classes: classes,
  attributes: attributes
}) }}
