{% from "govuk/macros/attributes.njk" import govukAttributes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{#- Set classes for this component #}
{%- set classNames = "govuk-summary-card" -%}
{%- if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif %}

{#- Define component attributes #}
{%- set componentAttributes %} class="{{ classNames }}" {{- govukAttributes(params.attributes) -}} {% if params.id %} id="{{ params.id }}"{% endif %}{% endset %}

{% set nonAlnStrengths = params.strengthsData.nonAlnStrengths %}
{% set latestAlnScreener = params.strengthsData.latestAlnScreener %}
{% set strengthsFromMostRecentAlnScreener = latestAlnScreener.strengths %}
{% set showActions = params.showActions %}
{% set userHasPermissionTo = params.userHasPermissionTo %}

{% if nonAlnStrengths | length or strengthsFromMostRecentAlnScreener | length %}
  <div {{ componentAttributes | safe }}>
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{ params.title }}</h2>
    </div>

    <div class="govuk-summary-card__content govuk-!-padding-top-0">
      <div class="govuk-summary-list">

        {# Render non-ALN strengths first #}
        {% for strength in nonAlnStrengths %}
          <div class="govuk-summary-list__row non-aln-strength" data-qa="{{ strength.strengthTypeCode }}">
            <p class="govuk-body govuk-!-margin-top-3 app-u-multiline-text" data-qa="non-aln-strength-symptoms">{{ strength.symptoms }}</p>

            {% set expanderContent %}
              <ul class="govuk-list govuk-!-font-size-16">
                {% for strengthIdentificationSource in strength.howIdentified %}
                  <li>{{ strengthIdentificationSource | formatStrengthIdentificationSourceScreenValue if strengthIdentificationSource != 'OTHER' else strength.howIdentifiedOther }}</li>
                {% endfor %}
              </ul>
            {% endset %}
            {{ govukDetails({
              summaryText: "How was this identified?",
              html: expanderContent,
              classes: "govuk-!-font-size-16",
              attributes: {
                "data-qa": "non-aln-strength-how-identified"
              }
            }) }}

            <div class="actions-wrapper">
              <p class="govuk-hint govuk-body govuk-!-font-size-16" data-qa="non-aln-strength-audit">
                {% set prisonName = params.prisonNamesById[strength.updatedAtPrison] | default(strength.updatedAtPrison) %}
                Last updated {{ strength.updatedAt | formatDate('d MMM yyyy') }}<span class="govuk-!-display-none-print"> by {{ strength.updatedByDisplayName }}, {{ prisonName }}</span>
              </p>

              {% if showActions %}
                <ul class="govuk-summary-card__actions govuk-!-display-none-print">
                  {% if userHasPermissionTo('EDIT_STRENGTHS') %}
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link govuk-!-font-weight-regular" href="/strengths/{{ strength.prisonNumber }}/{{ strength.reference }}/edit/detail" data-qa="edit-strength-button">Edit</a>
                    </li>
                  {% endif %}
                  {% if userHasPermissionTo('ARCHIVE_STRENGTHS') %}
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link govuk-!-font-weight-regular" href="/strengths/{{ strength.prisonNumber }}/{{ strength.reference }}/archive/reason" data-qa="archive-strength-button">Move to history</a>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        {# Render strengths from the most recent ALN Screener #}
        {% if strengthsFromMostRecentAlnScreener | length %}
          <div class="govuk-summary-list__row aln-strengths">
            <ul class="govuk-list govuk-!-margin-top-3">
              {% for strength in strengthsFromMostRecentAlnScreener %}
                <li>{{ strength.strengthTypeCode | formatStrengthTypeScreenValue }}</li>
              {% endfor %}
            </ul>

            <p class="govuk-hint govuk-body govuk-!-font-size-16" data-qa="aln-strengths-audit">
              {% set prisonName = params.prisonNamesById[latestAlnScreener.createdAtPrison] | default(latestAlnScreener.createdAtPrison) %}
              From Additional Learning Needs Screener completed on {{ latestAlnScreener.screenerDate | formatDate('d MMM yyyy') }}, {{ prisonName }}
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
