{% extends "../layout.njk" %}

{% set pageId = 'education-support-plan-specific-teaching-skills' %}
{% set pageTitle = 'Review an education support plan - Review need for teacher with specific knowledge or skills' if mode == 'review' else 'Create an education support plan - Needs specific teacher knowledge or skills' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set detailsHtml %}
            {{ govukTextarea({
              id: "details",
              name: "details",
              rows: "4",
              value: form.details,
              type: "text",
              label: {
                text: "Edit details" if mode == 'review' and currentAnswer != "No" else "Add details",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give details of any required teaching skills" },
              errorMessage: errors | findError('details')
            }) }}
          {% endset %}

          {% set hintText %}
            <p class="govuk-hint">
              For example, British Sign Language or autism training.
            </p>
            {% if mode == 'review' %}
              {% set currentAnswer %}
                <h3 class="govuk-heading-s">Current answer</h3>
                <p class="govuk-body app-u-multiline-text">{{ currentAnswer }}</p>
              {% endset %}
              {{ govukInsetText({
                html: currentAnswer
              }) }}
            {% endif %}
          {% endset %}

          {{ govukRadios({
            name: "skillsRequired",
            fieldset: {
              legend: {
                text: "Do teachers need specific knowledge or skills to support " + prisonerSummary | formatFirst_name_Last_name + "'s learning?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: hintText
            },
            items: [
              {
                value: "YES",
                text: "Yes",
                checked: form.skillsRequired === "YES",
                conditional: {
                  html: detailsHtml
                }
              },
              {
                value: "NO",
                text: "No",
                checked: form.skillsRequired === "NO"
              }
            ],
            errorMessage: errors | findError('skillsRequired')
          }) }}
        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Continue",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
