{% extends "../layout.njk" %}

{% set pageId = 'record-aln-check-your-answers' %}
{% set pageTitle = "Additional learning needs screener - Check your answers" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check additional learning needs screener information</h1>

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <dl class="govuk-summary-list govuk-!-margin-bottom-8">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Date of screener
              </dt>
              <dd class="govuk-summary-list__value" data-qa="screener-date">
                {{ screenerDate | formatDate('d MMMM yyyy') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="screener-date?submitToCheckAnswers=true" data-qa="screener-date-change-link">
                  Change<span class="govuk-visually-hidden"> the date the screener was performed</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Challenges identified
              </dt>
              <dd class="govuk-summary-list__value" data-qa="challenges-identified">
                {% if not challenges | length %}
                  <h3 class="govuk-heading-s govuk-!-margin-0">No challenges identified</h3>
                {% else %}
                  {% for challengeCategory, challengeTypes in challenges %}
                    <h3 class="govuk-heading-s govuk-!-margin-0">{{ challengeCategory | formatChallengeCategoryScreenValue | default(challengeCategory, true) }}</h3>
                    <ol class="govuk-list govuk-!-margin-bottom-3">
                      {% for type in challengeTypes %}
                        <li>{{ type | formatChallengeTypeScreenValue | default(type, true) }}</li>
                      {% endfor %}
                    </ol>
                  {% endfor %}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-challenges?submitToCheckAnswers=true" data-qa="challenges-change-link">
                  Change<span class="govuk-visually-hidden"> any challenges identified</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Strengths identified
              </dt>
              <dd class="govuk-summary-list__value" data-qa="strengths-identified">
                {% if not strengths | length %}
                  <h3 class="govuk-heading-s govuk-!-margin-0">No strengths identified</h3>
                {% else %}
                  {% for strengthCategory, strengthTypes in strengths %}
                    <h3 class="govuk-heading-s govuk-!-margin-0">{{ strengthCategory | formatStrengthCategoryScreenValue | default(strengthCategory, true) }}</h3>
                    <ol class="govuk-list govuk-!-margin-bottom-3">
                      {% for type in strengthTypes %}
                        <li>{{ type | formatStrengthTypeScreenValue | default(type, true) }}</li>
                      {% endfor %}
                    </ol>
                  {% endfor %}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-strengths?submitToCheckAnswers=true" data-qa="strengths-change-link">
                  Change<span class="govuk-visually-hidden"> any strengths identified</span>
                </a>
              </dd>
            </div>
          </dl>

        </div>

        {{ govukButton({
          id: "submit-button",
          text: "Submit screener information",
          type: "submit",
          attributes: {"data-qa": "submit-button"},
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
