<div class="govuk-summary-card" data-qa="no-strengths-summary-card">
  <div class="govuk-summary-card__content">
    <p class="govuk-body">
      No strengths recorded
    </p>
    {% if userHasPermissionTo('RECORD_STRENGTHS') %}
      <a class="govuk-link govuk-body" href="/strengths/{{ prisonerSummary.prisonNumber }}/create/select-category">Add strength</a>
    {% endif %}
  </div>
</div>
