{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}
{% from "../../../components/archived-strengths-summary-card/macro.njk" import archivedStrengthsSummaryCard %}
{% from "../../../components/strengths-summary-card/macro.njk" import strengthsSummaryCard %}

{% set pageId = 'profile-strengths' %}
{% set pageTitle = "Support for additional needs - Strengths" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Strengths</h2>
    </div>
  </div>

  <div class="govuk-grid-row">

    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      {% if activeStrengths.isFulfilled() and archivedStrengths.isFulfilled() %}
        {% set activeStrengths = activeStrengths.value %}
        {% set activeStrengthsCount = activeStrengths | length %}
        {% set archivedStrengths = archivedStrengths.value %}
        {% set archivedStrengthsCount = archivedStrengths | length %}
        {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}

        {% set activeStrengthsContent %}
          {% if activeStrengthsCount > 0 %}
            {% for strengthCategory, strengthsData in activeStrengths %}
              {{ strengthsSummaryCard({
                title: strengthCategory | formatStrengthCategoryScreenValue | default(strengthCategory, true),
                strengthsData: strengthsData,
                prisonNamesById: prisonNamesById,
                showActions: true,
                userHasPermissionTo: userHasPermissionTo,
                attributes: {
                  'data-qa': 'active-strengths-summary-card_' + strengthCategory
                }
              }) }}
            {% endfor %}

          {% else %}
            <p class="govuk-body" data-qa="no-active-strengths-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no current strengths.
            </p>
          {% endif %}

          <p class="govuk-body">
            {% if userHasPermissionTo('RECORD_STRENGTHS') %}
              <a class="govuk-link govuk-!-display-none-print" href="/strengths/{{ prisonerSummary.prisonNumber }}/create/select-category">
                Add a strength
              </a>
            {% endif %}
          </p>
        {% endset %}

        {% set archivedStrengthsContent %}
          {% if archivedStrengthsCount > 0 %}
            {% for strengthCategory, strengthsData in archivedStrengths %}
              {% set archivedStrengths = strengthsData.nonAlnStrengths %}
              {{ archivedStrengthsSummaryCard({
                title: strengthCategory | formatStrengthCategoryScreenValue | default(strengthCategory, true),
                archivedStrengths: archivedStrengths,
                prisonNamesById: prisonNamesById,
                attributes: {
                  'data-qa': 'archived-strengths-summary-card_' + strengthCategory
                }
              }) }}
            {% endfor %}

          {% else %}
            <p class="govuk-body" data-qa="no-archived-strengths-message">
              {{ prisonerSummary | formatFirst_name_Last_name }} has no previous strengths.
            </p>
          {% endif %}
        {% endset %}

        {{ govukTabs({
          items: [
            {
              label: 'Current (' + activeStrengthsCount + ')',
              id: 'current-strengths',
              panel: {
                html: activeStrengthsContent
              }
            },
            {
              label: 'History (' + archivedStrengthsCount + ')',
              id: 'archived-strengths',
              panel: {
                html: archivedStrengthsContent
              }
            }
          ]
        }) }}

      {% else %}
        <h3 class="govuk-heading-s" data-qa="strengths-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate,
        planReviewDeadlineDate: educationSupportPlanLifecycleStatus.reviewDeadlineDate
      }) }}
    </div>
  </div>
{% endblock %}
