{% extends "../layout.njk" %}
{% from "../components/actions-card/macro.njk" import actionsCard %}
{% from "./components/strengths-summary-card/macro.njk" import strengthsSummaryCard %}

{% set pageId = 'profile-strengths' %}
{% set pageTitle = "Support for additional needs - Strengths" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Strengths</h2>
    </div>
  </div>

  <div class="govuk-grid-row">

    {% set educationSupportPlanLifecycleStatusFulFilled = educationSupportPlanLifecycleStatus.isFulfilled() %}
    {% set educationSupportPlanLifecycleStatus = educationSupportPlanLifecycleStatus.value if educationSupportPlanLifecycleStatusFulFilled else {} %}

    <div class="govuk-grid-column-two-thirds app-u-print-full-width">

      {% if groupedStrengths.isFulfilled() %}
        {% set groupedStrengths = groupedStrengths.value %}

        {% if groupedStrengths | length == 0 %}
          {% include './_noStrengthsSummaryCard.njk' %}

        {% else %}
          {% set prisonNamesById = prisonNamesById.value if prisonNamesById.isFulfilled() else {} %}
          {% for strengthCategory, strengthsData in groupedStrengths %}
            {{ strengthsSummaryCard({
              title: strengthCategory | formatStrengthCategoryScreenValue | default(strengthCategory, true),
              strengthsData: strengthsData,
              prisonNamesById: prisonNamesById,
              attributes: {
                'data-qa': 'strengths-summary-card_' + strengthCategory
              }
            }) }}
          {% endfor %}

        {% endif %}
      {% else %}
        <h3 class="govuk-heading-s" data-qa="strengths-unavailable-message">We cannot show these details right now</h3>
        <p class="govuk-body">Reload the page or try again later. Other parts of this service may still be available.</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third app-u-print-full-width">
      {{ actionsCard({
        userHasPermissionTo: userHasPermissionTo,
        prisonerSummary: prisonerSummary,
        planStatus: educationSupportPlanLifecycleStatus.status,
        planCreationDeadlineDate: educationSupportPlanLifecycleStatus.planCreationDeadlineDate
      }) }}
    </div>
  </div>
{% endblock %}
